[2019-03-22 17:11] dlorenc opened #1 "Add recurring meeting links to documentation"

[2019-03-22 17:11] dlorenc opened #2 "Add bootstrap governance information"

[2019-03-22 17:12] dlorenc opened #3 "Document email lists, slack channels, etc."

[2019-04-01 14:01] skaegi opened #6 "Tekton Dashboard Repository"
I propose work on a Tekton Dashboard similar in spirit to the Kubernetes Dashboard. In other words ... a general-purpose web UI for Tekton CD. Similar to the Kubernetes dashboard this would be an optional component that follows all changes in the Tekton CD project. Under the covers it will look similar to the Kubernetes Dashboard with a static web UI and Go back-end.

Our initial goal for the dash

[2019-04-02 12:09] gorkem commented on #6
@skaegi are you envisioning to deliver UI components that could be reusable on any web page?

[2019-04-02 15:19] skaegi commented on #6
Ha! @gorkem -- yes that is exactly what we've envisioning.

[2019-04-08 13:01] skaegi commented on #6
Thanks all - `tektoncd/dashboard` created and in the process of setting things up.

[2019-04-08 13:01] #6 closed

[2019-04-11 22:00] bobcatfish commented on #2
I think you've done this at https://github.com/tektoncd/community/blob/master/governance.md @dlorenc so im gonna close this :tada:

[2019-04-12 07:24] vdemeester commented on #2
/close

[2019-04-12 07:24] #2 closed

[2019-04-12 21:17] #1 closed

[2019-04-12 21:17] #3 closed

[2019-04-16 16:55] skaegi opened #10 "Add knative-eventing-extension to "experimental" repo"
I propose adding a `knative-eventing-extension` folder to the `experimental` repo. This experiment would provide maintained working code showing how Knative eventing could trigger pipeline and task runs from typical eventing sources like GitHub, GitLab, etc.

This work will also include an extension to the Tekton dashboard so that a user can see how the various pieces fit together from code change

[2019-04-16 17:34] vdemeester commented on #10
@skaegi this related to https://github.com/tektoncd/pipeline/issues/315 and https://docs.google.com/document/d/1vxFEovcLxDbypYMTAS1r6t8KCL4ltGmck266tbS1mTw right ?

[2019-04-16 20:20] skaegi commented on #10
@vdemeester yes definitely related. In Tekton we're really interested to push on the event duck typing as we have cases where events come from both Knative eventing-sources and more direct callers too.

This experiment though is just to show how knative-eventing might be incorporated into an interesting Tekton flow.

[2019-04-16 22:17] bobcatfish commented on #10
:+1: from me! Watch this space for some more guidelines around what we'd expect to see in the dir :D (and for all the missing community docs @_@)

[2019-04-17 06:46] vdemeester commented on #10
:+1: for me too btw :wink:

[2019-04-23 12:41] vdemeester opened #13 "Add catalog to experimental repository (or on its own)"
I propose adding a `catalog` folder to the `experimental` repo. This experiment would provide maintained task and pipeline definition for people to use in their Tekton Pipeline instances. This would act the same as [`knative/build-templates`](https://github.com/knative/build-templates) but for Tekton objects

Each "definitions" (template, pipeline) would be in a separate directory along with a REA

[2019-04-23 12:57] siamaksade commented on #13
It might make sense to have both `experimental/catalog` and `catalog` so that tasks are introduced in the experimental repo and are graduated to the _catalog_.

[2019-04-23 15:43] dlorenc commented on #13
I like the pattern from helm/charts where there's a single repo with multiple "levels" of support.

[2019-04-23 19:04] dlorenc commented on #10
This has two thumbs up and got created. I'll close this out for now.

[2019-04-23 19:04] #10 closed

[2019-04-24 17:42] vdemeester commented on #13
@dlorenc that would make sense to me too (and I kinda like that :angel:)

[2019-04-25 19:37] dlorenc commented on #13
OK, let's go for it then. Who will be the intiial OWNERS? I'll be one. @kimsterv wants to as well.

[2019-04-25 19:48] vdemeester commented on #13
I can be one too :angel: :pray:

[2019-04-25 19:53] dlorenc commented on #13
OK, three is enough for now!

[2019-04-25 19:53] #13 closed

[2019-04-30 23:13] iancoffey opened #18 "Add tektonlistener and eventbinding resources to experimental repository"
This would bring the code in the proposal and product requirements for [Tekton Listener proposal and eventbinding](https://docs.google.com/document/d/1tfG6dkARP2xko-5trDV3D62DJZiXQBZgLtLH7GyUopM/edit?ts=5cc87bd8#) into its own experimental directory.

TektonListener code -> https://github.com/tektoncd/pipeline/pull/783
Event binding expansion branch -> https://github.com/tektoncd/pipeline/compare/

[2019-04-30 23:41] bobcatfish commented on #18
:+1: from me!

@iancoffey for `OWNERS` in the initial dir, any names in particular you want me to add?

[2019-04-30 23:56] bobcatfish commented on #18
@dlorenc says yes too :D

[2019-05-01 00:19] iancoffey commented on #18
@bobcatfish Just me is fine to start thanks! :)

[2019-05-01 00:36] #18 closed

[2019-05-16 22:47] dlorenc opened #20 "Process for adding bot accounts to the org"
We should decide and document a process for adding bot accounts to the org.

[2019-05-24 16:23] aristosvo opened #21 "Tekton Slack joining link has expired"
The [link](https://join.slack.com/t/tektoncd/shared_invite/enQtNjE4MDgwMDYxNjA3LTM5Mjc1YWQyN2FjNDhkZDU5NmNmMTZhMDkxZDE4NzE1ZjhjOWU5OTIzNDM5YmQ3NjU5OTFhYzc0M2JmYjg5Mzc) in the [contact.md](https://github.com/tektoncd/community/blob/master/contact.md#slack) to join the Slack of Tekton CD is not valid anymore

![NoLongerActive](https://user-images.githubusercontent.com/8375124/58342548-f8e8ca80-7e50-

[2019-05-24 16:42] bobcatfish commented on #21
Thanks for reporting this @aristosvo !! I've got #23 open to fix the link in the docs but in the meantime here it is directly: https://join.slack.com/t/tektoncd/shared_invite/enQtNjQ1NjQzNTQ3MDQwLWViNmMxYTI2ZDliMTAzZjAwNzM1OWQ4NzUwMTUzNWY3YTNlZTU4NmQyOGMwZTlmY2I5ODAzYzNmMDdiZDdjYjA

Let me know if that doesn't work for you!

[2019-05-24 17:06] #21 closed

[2019-06-25 13:56] vdemeester opened #26 "Project proposal : Tekton Operator adoption"
Installation and upgrade of Tekton Pipeline including dashboard installation or tasks in catalog repo is currently a manual process. Kubernetes Operator provides us with a framework to simplify this tedious job. Operator also provides us with a great way to move between version when there are breaking changes (alpha1 -> beta1).

Operator was introduced in this [blog post](https://coreos.com/blog/i

[2019-06-28 22:22] vincent-pli commented on #26
Great, so will `dashboard`, `trigger` to be an independent `Operator` as `Pipeline` or treaded as `add-on`?

[2019-07-04 14:15] siamaksade commented on #26
@vincent-pli probably an add-on. Operator allows defining a CR to configure what should be installed. That could be tekton controllers and any number of addons (e.g dashboard)  or experimental features.

[2019-07-09 13:46] dlorenc opened #27 "Project Proposal: Tekton Friends"
This issue is to track the proposal to create a repository called `friends` under `tektoncd`. The full proposal can be viewed here:
https://docs.google.com/document/d/1y57N9hFEe4N9Zx7jBLaBbMjrppK-hCDwwBlx2bVz7aE/edit

(available to anyone in the tekton-dev group)

[2019-07-09 18:10] ImJasonH commented on #26
To what extend will the Tekton operator be able to share code/idioms/infra with the Knative operator? Preferably very much, so we can all draft off of each other and not duplicate effort.

[2019-07-09 19:00] vdemeester commented on #26
@ImJasonH the downstream ones were sharing a lot of code from @jcrossley3, so yeah the goal would be to share a lot with the Knative operator(s) :angel:
/cc @sthaha @nikhil-thomas

[2019-07-09 20:13] xihaLong opened #28 "Add TektonCD User Profiles"
Make it clear for whom TektonCD is intended, in order to guide future design discussion and decisions. There was a document in K8s and now in Helm useful as a template
https://github.com/helm/community/blob/master/user-profiles.md

Lets add user-profiles.md to Tekton in the community repo. Optionally have Tekton's user-profiles.md reference its inspiration in Helm

[2019-07-09 20:20] xihaLong commented on #28
"Any substantial changes to the policies in this repo should be reviewed by at least 50% of the governing board." I will add the governing board to a pull request

[2019-07-09 20:26] xihaLong commented on #28
I had asked earlier if there were applicable personas in Tekton. This change is aimed at sharing user profiles rather than personas, as explained in the document itself. If the committee has names to offer for example actors from each group of user type, then Tekton may consider adding a personas.md document instead

[2019-07-09 20:26] dlorenc commented on #28
Thanks for sending this!

[2019-07-10 00:55] sthaha commented on #26
@ImJasonH @vdemeester

Correct, we want to share as much as possible with knative. Most of the implementation is shared through a common library create by @jcrossley3  which you can find at https://github.com/jcrossley3/manifestival

[2019-07-11 15:46] dlorenc commented on #26
Closing as this was approved and started.

[2019-07-11 15:46] #26 closed

[2019-07-15 15:27] bobcatfish opened #30 "Try out github based GitHub org management"
## Current behaviour

Management of org membership, the teams we are using in tektoncd and who is on them, is super ad-hoc and based mostly around folks privately messaging ppl with enough power (e.g. me , @vdemeester , @dlorenc @abayer @kimsterv ) to get access to stuff. Most changes are not recorded anywhere, so none of us probably even really know what kind of changes the other folks are making

[2019-07-17 21:17] #28 closed

[2019-08-07 17:10] vdemeester opened #33 "Proposal: use vanity url for tektoncd go projects"
This issue is to discuss the use of vanity url for tektoncd go project.

Go has a mechanism for custom or [“vanity” import paths](https://golang.org/cmd/go/#hdr-Remote_import_paths). In addition to the common hosting sites (GitHub, Bitbucket, etc) and custom VCS URLs (.git, .hg, etc) known to the go command, this mechanism can be used to point a custom URL to any of the above listed services.

Tak

[2019-09-18 19:55] bobcatfish opened #38 "Add automation for interacting with Tekton calendar via gitops"
We have a shared Tekton calendar at https://github.com/tektoncd/community/blob/master/contact.md#calendar but at the moment only a couple of people can edit it, so when folks want to reschedule meetings (like @hrishin for the observability working group!), they have to find someone with access to the calendar.

What would be really great is if we could have the expected state of the Tekton calenda

[2019-09-20 15:35] bobcatfish opened #39 "Automation for interacting with Tekton twitter account via gitops"
Okay so just like https://github.com/tektoncd/community/issues/38 but about our Twitter account instead!! https://twitter.com/tektoncd

At the moment only a few folks have access to the twitter account, and this means when there are announcements such as https://twitter.com/chmouel/status/1168821072441090048 they have to come from ppl's personal accounts (thanks @chmouel !) and get retweeted by th

[2019-09-24 19:16] #27 closed

[2019-09-24 19:16] dlorenc commented on #27
This was created.

[2019-09-24 22:18] hunner commented on #21
Hello, it seems to have expired again.

[2019-09-26 06:39] chmouel opened #40 "Project Proposal: Tekton Brew repository 🍻"
This issue is is to track the proposal to create a new repository called `homebrew-tektoncd`.

The repository will be storing homebrew `formulas` of the different tekton projects starting with the [cli](https://github.com/tektoncd/cli).

# Background

Homebrew is a popular package manager to install softwares on OSX

Brew offers [a way](https://docs.brew.sh/Taps) for projects to provide their own

[2019-10-01 14:28] bobcatfish commented on #40
![image](https://user-images.githubusercontent.com/432502/65971502-447e3700-e436-11e9-9646-0a1ef0e46bc8.png)

[2019-10-01 15:22] ahpook commented on #40
👍 I'd be happy to help maintain formulae too! I own a similar tap repo at https://github.com/lyraproj/homebrew-lyra

[2019-10-03 08:43] vdemeester commented on #40
https://github.com/tektoncd/homebrew-tools is live :tada:
Went for `homebrew-tools` because it feels better to do `brew tap tektoncd/tools` than `brew tap tektoncd/tektoncd` :stuck_out_tongue_closed_eyes:

/close

[2019-10-03 08:43] #40 closed

[2019-10-23 21:17] bobcatfish opened #44 "Recording working group meetings: better and more automated"
At the moment, all of the working groups are recording via youtube and end up in my personal inbox (because i own the calendar maybe? I dont even know). This means:

* I am the only one who has access to them until I upload them to [the shared drive](https://github.com/tektoncd/community/blob/master/contact.md#shared-drive)
* If i go on vacation or get behind, no one can see the videos!
* Also onl

[2019-11-04 14:33] dlorenc commented on #30
Plan:

- Add a peribolos config to the tektoncd/community github repo
- Add documentation for users on how to add themselves
- Run this manually for now
- Wrap peribolos in a tekton Task
- Automate the peribolos syncing

[2019-11-04 14:42] dlorenc commented on #30
I would like to get the community PR merged first, then do some testing in the plumbing repo until it's ready, and merge that one second.

Then I can work to automate this via triggers.

[2019-11-06 15:20] vdemeester opened #53 "Project proposal: Catalog CR (and cli ext.) in experimental"
Based on the [Tekton catalog integration proposal](https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#heading=h.iyqzt1brkg3o),

This folder/repository would host [Catalog resource](https://docs.google.com/document/d/1O8VHZ-7tNuuRjPNjPfdo8bD--WDrkcz-lbtJ3P8Wugs/edit#heading=h.2g5p8k503yjk) part of the proposal.

# Background

This adds a new CRD, name Catalog, whic

[2019-11-12 18:18] fejta commented on #30
How are things going?

[2019-11-14 17:38] bobcatfish commented on #30
@fejta they are going amazingly so far! @dlorenc can probably give you more details but it's working exactly as intended - and is having the knock on effect of making us start thinking about and articulating the policies around when we want to actually add ppl to what ( + @vdemeester )

thanks very much for the great tool @fejta ❤️

[2019-11-14 17:38] bobcatfish commented on #30
oh and @dlorenc we can probably resolve this issue right?

[2019-11-15 09:57] vdemeester commented on #53
/cc @dlorenc @bobcatfish @abayer

[2019-11-27 15:36] ImJasonH commented on #53
+1000 love the idea.

Question: Is `.spec.version` a tag/branch/reflike in the repo? How do catalog repo owners express versioning to the CRD?

[2019-11-27 22:12] bobcatfish commented on #53
+1 from me for the project! v cool :D

I haven't had a chance to review the API in detail so I'm sure (as usual) I'll have opinions but strong :+1: for adding this to experimental :D

[2019-11-28 09:19] vdemeester commented on #53
/assign

[2019-11-28 09:32] abayer commented on #53
👍 from me!

[2019-11-28 18:51] ImJasonH commented on #53
I forget who I was talking to about this, but what do we think about packaging Tasks/Pipelines/etc. as OCI images in a registry? That gives us a well understood container format (with a reusable library to manage them), a storage scheme (image registries, incl. auth), a naming scheme (image names+tags), content-addressable storage, and even support for sets of them in image indexes.

All we'd need

[2019-11-29 08:47] vdemeester commented on #53
@ImJasonH Right, that's something I had as an early proposal for the catalog. This is something we can explore indeed.

[2019-11-29 12:18] #53 closed

[2020-01-16 17:05] popcor255 commented on #21
It has seemed to have expired again.

[2020-01-16 18:35] popcor255 opened #67 "Google Calender Links Broken under in working-groups.md"
Google Calendar Broken Links:
Triggers
CLI
Documentation
Productivity

https://github.com/tektoncd/community/blob/master/working-groups.md#documentation

[2020-01-16 18:36] popcor255 commented on #67
I know in the Slack chat that the 8th was the last date. So, its two weeks from the 8th of January 2019.

[2020-01-22 18:34] #67 closed

[2020-01-23 00:09] bobcatfish commented on #67
Thanks for reporting this @popcor255 !! ❤️ 🙏

[2020-01-28 05:49] hs115488 opened #75 "Code"
Where's the code?

[2020-01-28 09:05] vdemeester commented on #75
Hi @hs115488, this repository is the community repository, and holds documentation about how the tektoncd community is organized and the rules to follow.

The *code* is, for each components, in its own repository:
- [`tektoncd/pipeline`](https://github.com/tektoncd/pipeline)
- [`tektoncd/cli`](https://github.com/tektoncd/cli)
- [`tektoncd/dashboard`](https://github.com/tektoncd/dashboard)
- [`tekt

[2020-02-03 20:20] #75 closed

[2020-02-03 20:47] chmouel commented on #75
Thanks @vdemeester 🙇

[2020-02-26 15:53] #30 closed

[2020-03-05 15:18] vdemeester opened #81 "Project Proposal: The Tekton Hub"
Based on ["part of" the Tekton Catalog and Hub Design](https://docs.google.com/document/d/1pZY7ROLuW47ymZYqUgAbxskmirrmDg2dd8VPATYXrxI/edit?ts=5e559121#heading=h.hqblkoou5o68), I would like to propose having the "tekon hub" project as an experimental project initially.> The Tekton Hub is a web interface where users can both discover existing components and register their components.

We already st

[2020-03-05 19:44] bobcatfish commented on #81
I am a strong :+1: !

[2020-03-11 16:22] rakhbari commented on #81
Is this to be built as part of https://tekton.dev ? Isn't that essentially the Tekton Hub?

[2020-03-11 16:24] vdemeester commented on #81
Might be related : https://github.com/cncf/hub (https://hub.cncf.io/package/chart/jfrog/pipelines)

[2020-03-11 16:25] vdemeester commented on #81
It would be published on https://hub.tekton.dev or something like this :wink:

[2020-03-11 16:42] rakhbari commented on #81
If what's being called `the hub` in this proposal is really the Tekton task catalog, then why not just call it that. I'd argue the Tekton Hub is really the main site for tekton.dev. Then you can have a https://catalog.tekton.dev to expose the Tekton task catalog.

[2020-03-11 19:08] siamaksade commented on #81
@rakhbari why would hub refer to the Tekton website? Tekton Hub is similar to Helm Hub (https://hub.helm.sh), and Operator Hub (https://www.operatorhub.io/) as the hub for discovering charts and operators respectively.

[2020-03-11 19:25] rakhbari commented on #81
I'm just going off the "say what you mean, and mean what you say" principle. Somehow "hub" doesn't equal "catalog" to me. If we're following Helm and Operators pattern, then so be it. I just prefer being more specific and calling it what it is. If I'm the only one with this objection, then I defer to the majority decision.

[2020-04-01 12:07] sbwsg commented on #81
Saw the demo in the working group today.  Really like the idea of having this start the process of becoming a Tekton project!

[2020-04-02 13:38] vdemeester commented on #81
The project is now live and announced :tada:
https://github.com/tektoncd/hub

/close

[2020-04-02 13:38] #81 closed

[2020-04-14 23:12] popcor255 opened #96 "Proposal: Add Tekton Katacoda Repo"
This issue is to discuss if the Katacoda's in the tektoncd website should be a part of the tekton org.

### Background
The way you create a Katacoda courses is by creating a repo with each course being in a seperate folder. Katacoda will give you a webhook that you must add in order for the courses to sync.
[How to create Katacoda Course](https://www.katacoda.com/profile/create-first-scenario/cli)

[2020-04-15 13:02] bobcatfish commented on #96
Hey @popcor255 ! Thanks for making the proposal :D Quick question, does katacoda allow you to make tutorials as subdirectories of existing repos? If so, I'm wondering about the pros/cons of having a folder within tektoncd/website vs. having a separate repo for these

[2020-04-16 01:28] popcor255 commented on #96
Hello @bobcatfish. Hey you 100% correction. I start digging into ways to do that. I found a katacoda that showed me how to exactly with katacoda.
Very Meta. 🤯
[How to make Katacoda course](https://katacoda.com/scenario-examples/scenarios/create-course)

[2020-04-22 13:14] #96 closed

[2020-05-19 23:22] jlpettersson opened #107 "Add more and relevant topics to repositories"
The GitHub topics may be a great way to discover e.g. Tekton Pipelines. E.g. [continuous-integration](https://github.com/topics/continuous-integration) is a good way to list popular CI-systems. We should add more and relevant topics to our repositories.

Proposed topic additions to Pipelines repository:

- `[continuous-integration]`
- `[continuous-delivery]`
- `[continuous-deployment]`
- `[devops]

[2020-05-20 10:36] jlpettersson commented on #39
Yes, sounds very cool. And we could start with this functionallity.

We can think about this and do that in other iterations?

[2020-05-27 13:31] dlorenc opened #110 "Proposal: Tekton Supply Chain Security Project"
The full proposal text is outlined here: https://docs.google.com/document/d/1dJjNTOXsT_dMZIX4i5iRw10fRQZBQqUP8YmbN2AwhAA/edit#

(shared with tekton-dev)

I'd like to discuss this in the June 3rd community meeting.

[2020-05-29 14:40] jjasghar opened #113 "Double check the invites for the Working groups"
Hi!

I was looking to add the Docs working group to my calendar to start joining. I clicked the link on this page https://github.com/tektoncd/community/edit/master/working-groups.md and it gave me an invite that ran from Dec 19 to Feb 19 (today is May 29) at 13:00 EST.

I pinged @afrittoli (a teammate) and he informed me that it was 11:00 EST :-O

I'm worried more links are wrong/broken, which cou

[2020-06-02 08:59] a-roberts commented on #44
Bumping this one as something we'd like to happen especially, any thoughts/ideas?

So while there's `Find a way to record videos that can be initiated by non-Google folks too (maybe zoom? might need budget help here from the CDF)`... I've made and edited videos in the past using Davinci Resolve and OBS Studio; both available for free. These were for personal use, but surely there's a good option t

[2020-06-02 09:47] vdemeester commented on #44
So, I think google meet became available for everybody to use right ? @a-roberts can you try to create a meeting using your account (IBM or personal) to see ?

[2020-06-02 10:03] a-roberts commented on #44
There's no record meeting option though

[code]

from https://support.google.com/meet/answer/9308681?hl=en-GB

[2020-06-02 10:05] vdemeester commented on #44
ah sad :sweat:

[2020-06-02 14:12] bobcatfish commented on #110
I'm very excited about this! 👍 from me

[2020-06-03 15:48] skaegi commented on #110
@dlorenc I'm not sure why but I cannot access the above link... I believe I'm setup correctly.

[2020-06-03 15:59] vdemeester commented on #110
I think @dlorenc did not share it *yet* with `tekton-dev@gogglegroups.com` :sweat_smile:

[2020-06-03 18:04] dlorenc commented on #110
Sorry, it should be shared now...

[2020-06-09 13:31] vdemeester commented on #110
Sounds good to me :+1:

[2020-06-15 11:58] dlorenc commented on #110
Thanks! Closing since this was approved.

[2020-06-15 12:48] bobcatfish commented on #110
hey @dlorenc, @afrittoli had a couple of follow up comments in the #governance chat:

I would usually prefer going through an experimental or a prototype in a personal repo.
I’ve seen that https://github.com/dlorenc/chains exists - so I wonder if that is something that could be presented / demoed to the community? Perhaps @Dan Lorenc already did present it and I missed it

[2020-06-15 21:55] wlynch opened #125 "Proposal: Tekton Generators"
Proposal for creating tektoncd/experimental/generators.

This project was proposed with verbal support at the [Tekton API WG on May 11th 2020](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#heading=h.jkcnfusf6irl).

## The problem the project will solve

Help users bootstrap pipelines in a configurable way. This is intended to be an experimental project to exp

[2020-06-15 23:51] afrittoli commented on #110
What I was looking for was the background for the decision of having this as a dedicated project in its own repo. It sounds like.a reasonable approach, I just wanted to understand if there was some more context worth sharing.
Let's go ahead with this, and we can further document design decision along the way.

[2020-06-16 14:02] #110 closed

[2020-06-16 20:16] bobcatfish commented on #125
lgtm!

@afrittoli @vdemeester @abayer @ImJasonH could we have another governing board member weigh in?

[2020-06-17 13:14] vdemeester commented on #125
lgtm :wink: I think it is very good to explore this field as it should be important for driving adoption :upside_down_face:

[2020-06-18 06:49] zzguang520 opened #127 "Issues: Internal error occurred: failed calling webhook "webhook.pipeline.tekton.dev": Post https://tekton-pipelines-webhook.tekton-pipelines.svc:443/defaulting?timeout=30s: context deadline exceeded"
Hi team，
    I encountered kankio deploy problems while building Tekton in a K8S clustered environment：
kubectl apply -f https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml
Error from server (InternalError): error when creating "https://raw.githubusercontent.com/tektoncd/catalog/master/kaniko/kaniko.yaml": Internal error occurred: failed calling webhook "webhook.pipeline.t

[2020-06-18 07:18] vdemeester commented on #127
hey @zzguang520 thanks for the issue but it shouldn't be on the community repository :sweat_smile:
Also , I see you created https://github.com/tektoncd/catalog/issues/371 which seems to be the same.
I'll close this one.

[2020-06-18 07:18] #127 closed

[2020-06-18 15:41] wlynch commented on #125
https://github.com/tektoncd/experimental/pull/558 is ready for approval!

If you want us to split the folder creation / owners into a different commit just let us know.

[2020-06-18 17:33] wlynch opened #129 "Create .github repository"
GitHub allows for the creation of a `.github` repository for defining default config files for common community files (CONTRIBUTING, CODE_OF_CONDUCT, issue templates, etc). https://help.github.com/en/github/building-a-strong-community/creating-a-default-community-health-file

It'd be great to have the repo to centralize common files, and provide useful defaults for issue templates (e.g. bug, featu

[2020-06-19 10:10] vdemeester commented on #129
I am +:100: on this :wink:

[2020-06-19 13:46] bobcatfish commented on #129
Let's do it!!

[2020-06-22 17:55] wlynch commented on #125
PR has been merged. Thanks all! :)

[2020-06-29 20:32] wlynch opened #138 "Question: Policies for getting edit access to Project tab?"
/kind question

Is there any process in place for getting edit access to the projects tab for project management? I'd like to get access in experimental for myself and @dibyom so we can manage project pages for the `results` and `generators` projects.

Thanks!

[2020-06-30 08:16] vdemeester commented on #138
As far as I know, there is no dedicated permissions for projects, so to gain "edit access" to the project tab, you need to get edit access to the project, which means the requirement are the same as being an OWNER :sweat_smile:

[2020-07-01 15:20] jjasghar commented on #44
Not a troll, but maybe we should create `jitsi.tekton.dev` and iirc there is a way to run it on k8s pretty easily now. ideally, @vdemeester and i are gonna spend an hour investigating.

[2020-07-01 15:24] popcor255 commented on #44
@bobcatfish Are the working group videos on youtube public? If it is can we get the channel url? If it is not, can we get the videos public? It might be easy to have a slack bot with pub/sub just link the videos to the slack channels.

[2020-07-01 15:36] vdemeester commented on #44
@popcor255 no youtube for the working group videos. So far we do manually receive them (the user that did setup the event) and move them to the shared drive (with `tekton-dev@`), adjust permisisons & co. It is a little bit a pain (I am lagging behind, ~15 recording... :scream_cat:), but yeah we need to find a way to automate this (either with meet.google.com, zoom, jitsi, …)

[2020-07-01 15:48] popcor255 commented on #44
@vdemeester Sorry I thought it was being recorded via youtube based on the op. If there is no easy way to make the video public then the solution purposed by @jjasghar sounds promising.

@vdemeester Sorry I thought it was being recorded via youtube based on the op. If there is no easy way to make the video public then the solution purposed by @jjasghar sounds promising.

[2020-07-01 16:01] jjasghar commented on #44
I'm doing some investigation, and i've found https://github.com/mingfang/terraform-k8s-modules/tree/master/examples/jitsi which may at least be a start to get going. Updates when I have them.

[2020-07-01 16:01] jjasghar commented on #44
I will say there is a "direct stream to youtube too" https://jitsi.org/blog/live-streaming-with-jitsi-and-youtube/

[2020-07-01 16:19] vdemeester commented on #44
Yeah I saw that one, it's very nice :stuck_out_tongue_closed_eyes:

[2020-07-01 16:51] wlynch commented on #44
@jjasghar - I'm hesitant to setup our own video conferencing infra. I don't think this is something we want to be on the hook for when things go wrong, and we'd need to work out other things like recording and moderation. I think it's still worth looking into, but I have a bit of skepticism at the moment :)

@popcor255 WG meetings are uploaded to the Community Drive Folder - https://drive.google.c

[2020-07-08 12:36] iancoffey opened #144 "Experiment Proposal: Tekton Gates"
This is a proposal for a new experimental component to provide a new concept for gates - that is, gating pipeline execution at critical points until criteria is met. Complex pipelines often need to stop and await certain criteria before proceeding. Unlike conditions, gates are excepted to take _at least_  N time duration before proceeding - eg, before promotion step verify that N metric is at or a

[2020-07-08 13:27] bobcatfish opened #145 "What is the role of CI/CD (and Tekton) in a developer's local workflow?"
In https://github.com/tektoncd/pipeline/pull/2903 @vdemeester and I started discussing the role of Makefiles when using a Tekton based CI/CD workflow, and then we started talking about the potential differences between what CI/CD runs and what an engineer runs as part of their developer workflow.

I believe that being part of a developer's local workflow is in line with [Tekton's mission](https://

[2020-07-08 13:28] bobcatfish commented on #145
I've started this doc with my thoughts: [CI/CD and the development workflow](https://docs.google.com/document/d/1730VRKxKbvpR9LrmUHs6wjukvkiuL_CDidgf6zDJ7d0/edit#) - not sure the best medium to discuss this, but starting a doc seemed like a good starting place? Open to other ideas!

[2020-07-08 13:34] bobcatfish commented on #144
Hey @iancoffey ! This sounds very relevant to the custom task work that @ImJasonH has been working on: https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md, e.g. [this use case](https://github.com/tektoncd/community/blob/master/teps/0002-custom-tasks.md#user-stories-optional) sounds very similar (waiting until some condition is met) - I wonder if your proposal could make use

[2020-07-08 13:48] iancoffey commented on #144
@bobcatfish Oh awesome! I had not yet noticed these custom tasks, but I will check into how this concept fits. I think the sharp edge will be around time accounting and managing timeouts correctly when a pause/gate is implemented.

[2020-07-08 13:53] vdemeester commented on #145
By developer's local workflow I mean "my daily/hourly work, running test, modifying code, compiling things, …".

To quote the Tekton mission

My point is only that in that mission statement there is no "local" part, so this is not on tekton to do this, at least as the missions states it for now.

Should we change the mission statements ? Maybe, maybe not (I tend to like "simple mission statement")

[2020-07-08 14:16] ImJasonH commented on #144
@iancoffey This definitely seems like something we should support using Custom Tasks.

I agree that PipelineRun timeout enforcement is a bit of an unknown at the moment. I think one easy way to address this today is just to set a Pipeline's timeout as something really long, like a week or more -- there's probably still some amount of time after which the PipelineRun should be considered expired/in

[2020-07-09 16:44] iancoffey commented on #144
Im going to contribute this as a catalog Task to start.

@ImJasonH I would def like to hear about the demo custom tasks youve written, that would be 💯

[2020-07-09 17:12] ImJasonH commented on #144
The two that are most stable (i.e., least complex) so far are [wait-task](https://github.com/imjasonh/wait-task), which takes `duration` param and simply waits that long before succeeding, and [cel-task](https://github.com/imjasonh/cel-task), which takes an `expression` param and tries to evaluate it, succeeding if the result of evaluation is `true`. cel-task will be especially useful when we supp

[2020-07-10 15:00] popcor255 commented on #145
I think it depends on what your goals are for development. If you are developing something like a (12 factor app)[https://12factor.net/dev-prod-parity] then production should be close as possible to development. So, in this case I agree with @bobcatfish. However, not everything I develop is as polished. :sweat:
I think the mission statement might need to be revised cause its not inclusive enough.

[2020-07-16 14:06] jlpettersson commented on #145
I like the current Tekton mission - it has a narrow scope.
E.g. it should be a good CI/CD-system (executed after git-push) - correct, good UX, easy to get secure, easy to maintain (e.g. upgrade and evolve)

But the developer workflow is indeed a real problem - that we as "business organizations and tekton users" face often - but this problem includes a bit more:

* For "one repo - one built artifa

[2020-07-20 16:56] dlorenc opened #154 "Add a file in community/ to contain all labels and annotations used across Tekton."
We should have a table with information on labels and annotations. This should include:

- The label key itself
- Whether it is reserved for system usage
- What it is used by

We can also document prefixes "foo.bar.tekton.dev" and what they are used for, and if they are reserved.

[2020-07-21 10:25] vdemeester commented on #154
/kind documentation

[2020-07-29 08:14] vdemeester commented on #20
/remove-lifecycle rotten

[2020-07-29 08:15] vdemeester commented on #20
/remove-lifecycle stale

[2020-07-29 15:30] jerop commented on #20
/lifecycle frozen

[2020-08-03 17:05] bobcatfish opened #164 "Production readiness checklist in TEP?"
The KEP process includes a very thorough production readiness checklist (thanks @mattmoor !):

https://github.com/kubernetes/enhancements/blob/master/keps/NNNN-kep-template/README.md#production-readiness-review-questionnaire

Probably worth looking at these one at a time and seeing if any translate over - however @vdemeester maybe you already did this in which case I'm happy to close this.

At fir

[2020-08-04 08:13] vdemeester commented on #164
/kind feature

Yep, I initially left this part out intentionnaly, but indeed we should try to build our own checklist (inspired from this one).

[2020-08-12 17:15] #33 closed

[2020-08-12 20:19] bobcatfish commented on #38
/lifecycle frozen

I still think it's a good idea (and makes maintainers' lives easier), just needs someone to work on it!

[2020-08-14 14:25] afrittoli opened #178 "Maintain a table of TEPs"
It would be nice to have a TABLE of TEPS in our docs, with at least the following details:

| number | title | state | owners |
|---------|-----|------|--------|

We should provide a script to be executed when working on TEPs. The script should:
- update the table if needed
- create a new TEP from the template with an available number
- check that TEPs have the required header info

The same scrip

[2020-08-14 14:43] #113 closed

[2020-08-14 15:17] bobcatfish commented on #39
No one has gotten to this yet but I still think it's important to open up community resources such as the twitter account so that it's clear how to use them and more than just a select few have access

/lifecycle frozen

[2020-08-14 15:19] bobcatfish commented on #107
/reopen
/remove-lifecycle rotten

This is pretty easy to do for someone with the right access, if a bit tedious!

[2020-08-14 23:46] #125 closed

[2020-08-15 01:47] #138 closed

[2020-08-15 12:05] AlanGreene commented on #44
/remove-lifecycle rotten
/reopen

[2020-08-17 08:32] vdemeester commented on #145
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:32] vdemeester commented on #144
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:32] vdemeester commented on #129
/remove-lifecycle rotten
/remove-lifecycle stale
/reopen

[2020-08-17 08:36] vdemeester commented on #178
@afrittoli I even have a `teps.tekton.dev` static generated website *project* in the making (soon-ish)
Otherwise, yes I do agree, it would be nice to have a table of all the TEP, there state, …

[2020-08-24 09:53] ywluogg commented on #21
The link is still inactive

[2020-08-24 14:53] bobcatfish commented on #21
@ywluogg i think you were able to get it working in the end, right? i.e. the link added in https://github.com/tektoncd/community/pull/23 is working?

[2020-08-25 07:27] ywluogg commented on #21
Yes verified the link in the code is working

[2020-08-28 16:07] a-roberts opened #188 "Add guidance to help folks with Hacktoberfest 2020 here"
Hey everyone, I've been doing things with the cd.foundation's outreach commitee and we've been discussing Hacktoberfest and how Jenkins did it in the past, see https://www.jenkins.io/events/hacktoberfest/

I think it'd be a good opportunity to encourage folks to contribute to Tekton as part of Hacktoberfest and so I've been thinking of putting together some documentation - we could tell people whi

[2020-08-31 10:51] inductor opened #190 "Very serious question..."
What animal are the Tekton Friends?

[2020-08-31 10:59] chmouel commented on #190
I believe it's a cat

[2020-08-31 11:04] chmouel commented on #190
/kind question

[2020-08-31 11:44] inductor commented on #190
@chmouel Yeah, but they kinda look like Tanuki(Japanese raccoons) or foxes :|

![image](https://user-images.githubusercontent.com/20236173/91716464-ac02b080-ebca-11ea-9164-757c7997a253.png)

[2020-08-31 13:44] bobcatfish commented on #190
if we can work a tanuki in somewhere I am all for it :D

![image](https://user-images.githubusercontent.com/432502/91726592-8647be00-eb6e-11ea-9300-40a7c5b50e95.png)

From the left: dog, cat, rabbit :D

[2020-09-16 06:33] kobaji opened #209 "Is there any other requirement to be listed the rankings?"
Hi there, hope this issue is appropriate.

# What I hope

I would like my contribution to Tekton to be listed in the following Tekton rankings:
  - https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1&var-period_name=Last%20month&var-metric=contributions
  - https://www.stackalytics.com/unaffiliated?project_type=tekton-group&module=community@tekton&date=7

# What I did

I added my aff

[2020-09-17 09:34] afrittoli commented on #209
Devstat configuration is hosted by the CNCF (https://github.com/cncf/devstats/tree/master/cdf) - so you may file a PR or an issue to that repo for any change that you may require. I believe the configuration is owned by CNCF too.

Stackalytics configuration is hosted by opendev https://opendev.org/x/stackalytics/src/branch/master/etc/default_data.json.
Historically the service has been owned by a

[2020-09-18 01:21] kobaji commented on #209
Thanks @afrittoli , your comment is a quite helpful for me.
I'll ask CNCF what required is.

Hope my question is resolved by asking CNCF or opendev

Thank you very much again!!

[2020-09-18 05:00] kobaji commented on #209
About Devstats, I found I just need to wait a bit.
And about Stackalytics, I don't need to find the solution right now.

Therefore I close this issue.
Thanks a lot, @afrittoli and folks!!

[2020-09-18 05:00] #209 closed

[2020-09-28 17:39] sbwsg commented on #190
/close

[2020-09-28 17:39] #190 closed

[2020-10-09 07:29] afrittoli commented on #44
I agree it wouldn't be straight forward, however the current situation is less then ideal.
The docs WG could not meet several times because of this.

What we would need to experiment with Jitsi/[Jibri](https://github.com/jitsi/jibri) is:
* someone to drive this work forward
* infrastructure, 1 VM to start with, not sure about the spec

[2020-10-09 07:29] afrittoli commented on #44
There is a [self-hosting](https://jitsi.github.io/handbook/docs/devops-guide/devops-guide-start) guide, but it involves some manual work, which would be fine for initial experimentation, however eventually we would need automation.
There is a pretty new [ansible role](https://github.com/udima-university/ansible-jitsi-meet) on github which we could evaluate.

I think it would also be useful in gene

[2020-10-16 14:39] wlynch commented on #129
Circling back on this. Can an org admin create this repo? Thanks!

[2020-10-19 08:58] vdemeester commented on #129
@wlynch https://github.com/tektoncd/.github has been created :wink:

[2020-10-19 13:29] wlynch commented on #129
Thanks!

[2020-10-19 13:29] #129 closed

[2020-11-02 16:20] bobcatfish commented on #164
I think we've been doing a good job of incrementally updating the TEP template as we go, so I'm happy to close this issue for now and we can add things as they come up?

[2020-11-12 16:32] afrittoli opened #256 "Add documentation about releases strategy for Tekton"
Tekton components have independent releases.
Document how releases work in Tekton, explain why, help users navigate through releases.
Write docs so that it may be exposed via our website.

Eventually it would be good to have a compatibility matrix generated out of test results :)

[2020-11-16 07:55] vdemeester commented on #178
@afrittoli I think this can be closed right ? (it's on the README of the tep folder)
/remove-lifecycle stale

[2020-11-16 18:55] bobcatfish commented on #145
I'd like to see this conversation through at some point but I think there's no sense of urgency (unless we start making decisions that preclude the possibility of supporting a "local" experience)

/remove-lifecycle stale
/lifecycle frozen

[2020-12-07 20:58] afrittoli opened #288 "Results maintainer team and collaborators"
### Feature request

Please update https://github.com/tektoncd/community/blob/master/org/org.yaml with the results maintainer team and collaborators.

/cc @wlynch

[2020-12-14 17:16] #288 closed

[2020-12-15 09:52] vdemeester commented on #144
/remove-lifecycle rotten

[2020-12-15 15:00] bobcatfish commented on #144
@vdemeester i'm wondering if it makes sense to let this close? I'm not sure @iancoffey is working on it anymore? and it seems like custom tasks are the way we want to go forward here

[2020-12-15 15:08] iancoffey commented on #144
I still do plan to create a custom task for this at some point, but it has not happened yet. I did implement similar more specific logic as a catalog task tho! https://github.com/tektoncd/catalog/tree/master/task/prometheus-gate/0.1.

I will close this, and bring it back up when I get around to the custom task. thanks!

[2020-12-15 15:08] #144 closed

[2020-12-28 01:48] kobaji opened #297 "Could you please tell me when Tekton is planned to GA??"
Hi there, I am working for Tekton development.

Could you please tell me the about Tekton's roadmap?? Or could you please share the document about the roadmap?

Especially I'd like to know when Tekton pipeline, dashboard, cli, etc... will go GA.
Honestly I have read the document [roadmap.md](https://github.com/tektoncd/community/blob/master/roadmap.md) but I could not find out when Tekton will go

[2021-01-04 16:39] vdemeester commented on #297
hey @kobaji we need to communicate more around this but, in a gist (and this is mostly *my* opinion here):

- _GA_ is usually for product, and *so far*, Tekton provides only components (not a full fledge, opiniated, product).
- This means we should most likely focus on "stable" version of tekton components, and on this, "stable" in the k8s world means providing a `v1` API. Providing a `v1` API doe

[2021-01-07 21:40] bobcatfish commented on #44
I think this is still relevant (as someone who still has to upload videos manually tho i think @vdemeester has taken on at least half of this burden as well at this point XD)

/remove-lifecycle stale

[2021-01-08 06:50] kobaji commented on #297
Thanks @vdemeester I understood that Tekton's roadmap needed to be updated from [roadmap.md](https://github.com/tektoncd/community/blob/master/roadmap.md).
Thank you very much for your kind help!!

[2021-01-13 06:38] #297 closed

[2021-01-13 18:10] jerop opened #304 "Proposal: Common Expression Language Custom Task (CELRun)"
Proposal for creating **tektoncd/experimental/cel** to incubate **Common Expression Language Custom Tasks** project

Per [process](https://github.com/tektoncd/community/blob/master/process.md#proposing-projects), this project was proposed with verbal support at the [Tekton WG on Jan 13th 2021](https://docs.google.com/document/d/1rPR7m1Oj0ip3bpd_bcS1sjZyPgGi_g9asF5YrExeESc/edit)

## The problem the

[2021-01-13 18:14] afrittoli commented on #304
+100

This would be useful to simplify how we use conditions today in dogfooding, so I'd be happy to start running the custom task controller in dogfooding from the experimental repo.

[2021-01-13 18:32] ImJasonH commented on #304
+1, happy to co-own and help update and contribute [cel-task](https://github.com/imjasonh/cel-task) as a base (or start from scratch if that's better).

🎉

[2021-01-13 19:24] jerop commented on #304
yes yes, we can build on it, thanks for your contributions @ImJasonH!

some changes I propose we make include:
- when the CEL expression is valid and is evaluated successfully, the `ConditionSucceeded` in status of the CELRun is set to `True` regardless of the expression evaluation result and the CELRun produces a `Result` representing the expression evaluation result
- when the CEL expression is

[2021-01-13 19:45] ImJasonH commented on #304
Yeah those both sound like good improvements. 👍

[2021-01-13 20:23] jerop commented on #304
thanks for the quick review @ImJasonH and @afrittoli

created the project folder in https://github.com/tektoncd/experimental/pull/691

[2021-01-19 22:53] aelbarkani commented on #145
I totally support this initiative! If Tekton can help unify inner and outer loop, then it would be amazing.
By using Make/Bazel + Tekton or another CI/CD engine we have our scripts written twice, once for Make, and another for Tekton. So it's currently difficult to make any updates to the scripts, especially when they are used by many repos. Another possibility for us was to use Bazel inside Tekto

[2021-01-28 18:00] jerop commented on #304
Common Expression Language Custom Tasks is available in https://github.com/tektoncd/experimental/tree/master/cel

[2021-01-29 20:03] AlanGreene commented on #188
I think it's safe to close this one now 😸

/close

[2021-01-29 20:03] #188 closed

[2021-02-01 18:32] jerop opened #330 "Proposal: Pipelines in Pipelines Custom Tasks"
Proposal for creating **tektoncd/experimental/pipelines-in-pipelines** to incubate Pipelines in Pipelines project

Per [process](https://github.com/tektoncd/community/blob/master/process.md#proposing-projects), this project was proposed with verbal support at the [Tekton API WG on Feb 1st 2021](hhttps://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#)

## The problem

[2021-02-01 19:52] jerop commented on #330
/cc @abayer @vdemeester @bobcatfish @afrittoli @ImJasonH

[2021-02-02 09:12] afrittoli commented on #330
Thanks you for this proposal, I think this is a really good idea, it helps a lot breaking down pipelines and boosts the pipeline reusability.

The idea of a "unit of execution" in the use case above is inline with pipeline reusability.
In the diagram above, we could use the pipeline finally capability to ensure the last update is always executed.

[2021-02-02 14:57] bobcatfish commented on #330
/assign

[2021-02-05 11:04] vdemeester commented on #330
Thanks for this proposal @jerop. I 💯 % vote for experimenting on this, thus **I approve** 😛

[2021-02-05 18:44] ImJasonH commented on #330
I approve of this effort. 👍

In fact I'm really excited about it! 🎉

[2021-02-25 14:55] mattmoor opened #358 "governance.md link broken"
# Expected Behavior

Link to script works

# Actual Behavior

Links to https://github.com/tektoncd/plumbing/blob/main/addpermissions.py which 404s.

[2021-02-25 14:56] vdemeester commented on #358
cc @bobcatfish

[2021-03-01 18:01] #358 closed

[2021-03-12 09:43] kobaji commented on #297
Thank you @vdemeester for this issue.

I found the roadmap in tektoncd/community and tektoncd/pipeline were updated!!
https://github.com/tektoncd/community/blob/feaba0b7f4f6f514d1771625770ef67114d8ad67/roadmap.md
https://github.com/tektoncd/pipeline/blob/93e368dbcb014e8650a6ba8ad01ca3c5f6eb6554/roadmap.md

And of course I have had a look your commits about the change of default branch from master

[2021-03-16 11:21] sbwsg commented on #178
Yup, this can be closed now.  The TEPs are now kept in a table visible at https://github.com/tektoncd/community/tree/main/teps kept in sync with the [teps python program](https://github.com/tektoncd/community/tree/main/teps/tools).

[2021-03-16 11:21] sbwsg commented on #178
/close

[2021-03-16 11:21] #178 closed

[2021-03-29 05:52] fenglixa opened #394 "Proposal: Pipeline-loops Custom Tasks to support common loops cases"
Proposal for creating tektoncd/experimental/pipeline-loops to incubate Pipeline level loops project

Per process, this project was has been presented at working group on March 17th 2021

## The problem the project will solve
Loops Requirements from KFP-Tekton and some projects at IBM:
- Loop run sequency tasks based on the array value of user defined or the output from other tasks
- Support multi

[2021-03-29 14:51] afrittoli commented on #394
/cc @dibyom

[2021-03-30 01:40] vincent-pli commented on #394
I think it's useful feature. although we already have `pipeline-pipeline` and `task-loop`.
This feature is specific for `pipeline-loop` and consider more scenarios which is only for `pipeline-loop`, and handle many gaps in `task-loop` and `pipeline-in-pipeline`, I like it, thanks @fenglixa

[2021-03-31 15:49] bobcatfish commented on #394
I want to stress that in the long run I think the use cases that are being expressed here should be supported by a top level looping feature in Pipelines + pipelines in pipelines - looking at the outlined loops "typical loop", "multi args loop" and "condition loop" I don't see anything that we wouldn't want to support with a  generic "looping" concept that could be applied to task as well.

My one

[2021-03-31 17:25] bobcatfish commented on #394
I just realized that "condition loop" might be an exception - that would be a bit more controversial since it would mean introduce non-deterministic looping and i think might push us over the edge into being turing complete 🤔

[2021-03-31 17:25] bobcatfish commented on #394
so given that, maybe this does make the most sense as an experimental project 🤔
(sorry for the stream of consciousness, thanks for your patience 🙏 )

[2021-04-01 01:45] fenglixa commented on #394
Thanks @bobcatfish @vincent-pli @afrittoli , for your support!

[2021-04-01 08:37] vdemeester commented on #394
I'd rather experiment with this, thus a custom task in experimental works fine.

I don't really see this as a problem. Having it as an experimental project, and a custom task is quite the "barrier" for people to use it, which means if there is a high need of this in a supported way, we will have request for it, I have no worries. Having it in an experimental project and in custom task allows us to

[2021-04-07 00:41] Tomcli commented on #394
@afrittoli do we need to create a TEP for this proposal to unblock https://github.com/tektoncd/experimental/pull/724? thanks.

[2021-04-07 00:47] Tomcli commented on #394
I agree to put into experimental first. We want to get some usage on this feature so we can get some feedbacks on the API definition.

[2021-04-07 21:49] AlanGreene commented on #44
Still relevant. Are the CDF/LF Zoom meetings an option? Looks like they have automation for recording and publishing videos to YouTube. It would also avoid some of the permissions issues we have today that require specific people / people from specific orgs to start / record meetings.

/remove-lifecycle stale

[2021-04-10 09:38] vincent-pli opened #403 "Proposal: Introduce new CRD for CEL"
### Feature request
We already has experimental project [cel](https://github.com/tektoncd/experimental/tree/main/cel)
That's very useful, but one shortage: cannot evaluate expression with a predefined variable.
for example: `job_priority in ['high', 'normal'] ? 'Sev-1' : 'Sev-2'`
The `job_priority` is a predefined variables somewhere.

To handle the gap, one solution is introduce the dependency be

[2021-04-12 23:44] vincent-pli commented on #403
@jerop @afrittoli
What do you think?

[2021-04-26 15:17] jerop commented on #403
@vincent-pli thank you for the detailed description 😁

makes sense that we provide a way to pass in variables to the CEL environment

how are you using the `job_priority` variable? please expound on this example so that we understand the practical scenario or use case better

this may be the solution, but let's explore other alternatives before we go forward with adding a CEL CRD

for example, we

[2021-04-26 15:30] jerop commented on #403
if we decide to add a CRD, another alternative is to specify the expressions in the CRD and the variables as `Parameters`, as such:

[code]

[code]

this is better for reusability because the CEL expression can be evaluated/reused in multiple `Runs` with different variables/`Parameters`

[2021-04-29 10:06] vdemeester opened #418 "Add `org.yaml` peribolos validation"
Updating the `org.yaml` file managed by peribolos can end up breaking the sync, if the syntax is wrong or if, for example, a user is in both admin of the organization and members.

We should add a job on `tektoncd/community` that run some validation (periobolos dry-run) on PRs.

/cc @afrittoli

[2021-04-29 10:06] afrittoli opened #419 "Add a CI job to validate org.yaml"
### Feature request

Add a CI job to validate org.yaml

### Use case

Today we don't validate, so we can merge a PR that will fail the update.

[2021-04-29 10:07] vdemeester commented on #418
/assign

[2021-04-29 10:07] afrittoli commented on #419
Duplicate of https://github.com/tektoncd/community/issues/418

[2021-04-29 10:07] #419 closed

[2021-05-07 01:40] #154 closed

[2021-05-07 03:40] #164 closed

[2021-05-07 04:40] #107 closed

[2021-05-07 05:51] vincent-pli commented on #403
Thanks @jerop
Based on previously discussion, we want to resolve two issue:
- Evaluate expression with a predefined variable
- Reusability

so we can combine them:
[code]
The `vars` aim to supply variables as context, the variables in `vars` could be:
1. Predefined by user
2. From the evaluated result of `run.params`

The `expression` is for reusability, the items in `expressions` will be evaluate

[2021-05-12 09:56] jenoOvchi opened #426 "Create usable Grafana dashboard for Pipeline Controller metrics"
Hi!

It will be great to create and share usable Grafana dashboard for Pipeline Controller metrics on Grafana community. Is it possible?

[2021-05-25 14:31] akitson-degreed commented on #145
What about using tekton in combination with minikube in the local environment?

[2021-05-26 06:34] nikhil-thomas commented on #145
@akitson-degreed

we can do that today:
- (minikube): https://github.com/tektoncd/pipeline/blob/main/docs/developers/local-setup.md#using-minikube
- (kind): https://github.com/tektoncd/pipeline/pull/3972

At present, a user will have to find a way to publically expose eventlisteners, if you want to add webhooks to a git repo.
Instead, we can use some kind of polling mechanism to check for changes

[2021-05-26 13:47] afrittoli opened #435 "Proposal: Cloud Events Controller"
### Feature request

Introduce a controller dedicated to sending CloudEvents in the format specified by the [CDF SIG Events](https://github.com/cdfoundation/sig-events), which can be later extended to support multiple formats of CloudEvents and events specific options and features.

Tekton defines low level abstractions like Tasks and Pipelines. The SIG Events protocol defines higher level abstrac

[2021-05-26 13:49] afrittoli commented on #435
/cc @waveywaves @imjasonh @salaboy @bobcatfish

[2021-05-26 18:07] AlanGreene opened #437 "@tektoncd/experimental-maintainers team does not match OWNERS file"
Discovered in https://github.com/tektoncd/experimental/pull/751#issuecomment-848755932. Looks like the team was created back when the webhooks-extension was the only experimental project.

Should the [`@tektoncd/experimental-maintainers`](https://github.com/orgs/tektoncd/teams/experimental-maintainers/members) team members be updated to reflect the current approvers in the [OWNERS](https://github.

[2021-05-26 19:28] mrutkows commented on #145
Completely agree.  Developers are no longer just "developers", but are expected to assume the larger role of DevSecOps.  There is no way to be a true DevSecOps conscious "developer" without, from day 1, considering CI/CD as part of your actual application.  Why should it not be available locally in IDEs or configurable in private repos. (if some org. could host a Tekton derived solution I am sure

[2021-05-27 02:11] jerop commented on #330
/lifecycle frozen

actively working on this project as described in [TEP-0056: Pipelines in Pipelines](https://github.com/tektoncd/community/blob/main/teps/0056-pipelines-in-pipelines.md)

[2021-05-27 10:06] waveywaves commented on #435
LGTM !

[2021-05-27 15:40] bobcatfish commented on #330
@jerop i feel like since we have the experimental project we could probably close this specific issue? or did you want to keep it open for tracking?

[2021-05-27 16:03] jerop commented on #330
sure, we can close it - can track the ongoing work in the experimental repo

[2021-05-27 16:03] #330 closed

[2021-06-01 16:03] #304 closed

[2021-06-03 12:32] vdemeester commented on #435
LGTM 👍🏼

[2021-06-03 18:40] bobcatfish opened #447 "Experimental Custom Task Proposal: Pipeline to TaskRun"
This is a proposal to create a new experimental custom task that will allow people to define a pipeline, but run it in one pod, by transforming the pipeline into a taskrun with an embedded task spec.

The proposed project would be available at tektoncd/experimental/pipeline-to-taskrun (or alternatively tektoncd/experimental/pipeline-in-pod but I think that sounds a bit more ambitious than that act

[2021-06-03 18:42] bobcatfish commented on #447
PTAL @vdemeester @afrittoli @dibyom @abayer 🙏

[2021-06-03 20:06] bobcatfish commented on #435
Sounds good to me! 👍

Curious about a couple things:
- Would you see this controller eventually doing _all_ the cloud event emitting? (I'm wondering if going this route, it might make sense to remove the cloud event emitting functionality from the existing pipeline controller, and make it the job of this controller only? Could be a bit cleaner?)
- I'm not totally clear on what it will look like fo

[2021-06-03 20:25] afrittoli commented on #435
Definitely yes. I would expect eventually to move all cloud-events related logic to a dedicated controller and remove it from the main controller. I would like eventually to have this controller optionally perform extra logic on events, such as store them in tekton results and more.

The general idea I have is that tasks / pipelines could be annotated (already in the catalog?) as responsible for a

[2021-06-03 20:48] afrittoli commented on #447
I think it's great to experiment on this, thank for driving this forward.

From a model point of view, I would prefer a solution where we maintain the existing relationships between Tekton resources (N Tasks -> 1 Pipeline -> 1 PipelineRun -> N TaskRun) and what changes is the ration / relationship between those resources and the underlying k8s abstractions (Pods).

I'm not 100% sure how to impleme

[2021-06-03 21:05] bobcatfish commented on #435
that sounds amaaaaaazing 💯  👍 👍 👍

thanks for explaining re the annotations too, makes sense to me, esp. that its based on the a protocol being defined outside of tekton. (I wonder if eventually we might want to have a way of indicating that tasks are of these types, e.g. a "build" type or "test" type but a) that's probably a different story and/or b) maybe the annotation is all we need for that)

[2021-06-04 12:34] vdemeester commented on #447
LGTM 👍🏼

[2021-06-04 14:18] dibyom commented on #435
LGTM!

[2021-06-04 14:19] dibyom commented on #447
LGTM!

[2021-06-04 14:27] afrittoli commented on #435
Great, thanks for the feedback!!
The initial PR is https://github.com/tektoncd/experimental/pull/754.

[2021-06-04 18:40] bobcatfish commented on #447
@afrittoli that's an interesting idea - I think it's definitely worth adding to our list of alternatives in TEP-0044 - I'll see if I can sketch out what it would look like to implement that and add it.

[2021-06-14 12:20] ScrapCodes opened #459 "Proposal: Custom task SDK."
Proposal for creating **tektoncd/experimental/custom-task-sdk** to incubate **Custom Task SDK** project

Per [process](https://github.com/tektoncd/community/blob/master/process.md#proposing-projects), this project was proposed with verbal support at the [Tekton API Working Group](https://docs.google.com/document/d/17PodAxG8hV351fBhSu7Y_OIPhGTVgj6OJ2lPphYYRpU/edit#) on June 14th 9am PST

# The prob

[2021-06-14 16:30] pritidesai commented on #459
We are tracking approval from governance with this issue, please vote for the approval.

[2021-06-14 16:32] pritidesai commented on #459
Reference: https://github.com/tektoncd/community/issues/304

Need reviewers:

@vdemeester
@afrittoli
@pritidesai
@jerop
@nikhil-thomas

[2021-06-17 09:57] waveywaves commented on #459
+1 for this project propsal seeing it as parallel to what is there in Jenkins with the plugin development environment. Creating custom task controllers by defining the custom task layout and basic logic of the controller and the developer can focus on the reconciliation of the custom task and it's lifecycle is a great idea !
There is a [project template](https://github.com/waveywaves/tekton-experi

[2021-06-17 10:45] ScrapCodes commented on #459
Thanks @waveywaves :)

It makes more sense to do that. However, it is not yet clear how it will work. Will it be like `tkn custom-task validate -f ...` (similar to kubectl plugin) ?  Or something else. It needs approvals from CLI team etc.. So skipped the exact details. While designing we can delve deeper.

At the moment, custom task seems to be ubiquitous in tekton world. Changing this name means

[2021-06-17 10:59] waveywaves commented on #459
I agree, the cli could be started in the experimental repo to begin with and then the cobra module can be moved to `tkn` in the near future.

We keep using `Custom Task`, just proposing if the SDK be called Tekton Plugin SDK. Not saying that we should change the name of the Tekton resource from `Custom Task` to `Plugin`.

[2021-06-21 15:29] dibyom opened #464 "Proposal: Tekton Workflows"
This is a proposal for a higher level resource that would group the lower level Tekton primitives into a single entity. Conceptually, this would be similar to workflow in [GitHub Actions](https://docs.github.com/en/actions/quickstart#creating-your-first-workflow) and [Argo Workflows](https://argoproj.github.io/projects/argo/), and Pipeline in [Jenkins](https://www.jenkins.io/doc/book/pipeline/synt

[2021-06-21 15:36] vdemeester commented on #464
@dibyom @bobcatfish few questions
- Would this be an *opiniated* setup/use of the different TektonCD components ?
- Should we aim to be the solution we use for dogfooding or not ? (cc @afrittoli)
- Can this be started as an experimental project ? If not (or even if), should we have a TEP for it ? If we go experimental, I wouldn't require it, if we want to make it a project on its own, I would requ

[2021-06-22 01:23] nikhil-thomas commented on #464
/assign

[2021-06-22 01:24] nikhil-thomas commented on #464
@nikhil-thomas

[2021-06-22 08:27] nikhil-thomas commented on #464
/unassign

[2021-07-01 20:10] dibyom commented on #464
Yes, some similarities with https://github.com/openshift-pipelines/pipelines-as-code

Absolutely, dogfooding would be a great use case!

Yes! this is for an experimental project but I do plan on opening up a TEP so that we can discuss the actual API in more detail

Good question -- pipelines as code also groups triggers + other options together  (using annotations). So in that sense it is similar.

[2021-07-13 22:27] bobcatfish commented on #44
still relevant!

/remove-lifecycle stale

@AlanGreene I think they are - in fact i belive @afrittoli has recently gotten access to the CDF zoom account and is planning to start using it for documentation working group meetings 🤞

[2021-07-13 23:06] AlanGreene commented on #44
Yes I spoke to him about it last week and we're going to try it for the Dashboard working group too. Looking forward to getting that running again 😸

[2021-07-15 16:42] dibyom commented on #464
According to the [Proposing Projects process](https://github.com/tektoncd/community/blob/main/process.md#proposing-projects), we need two governing board members to approve before we can create an experimental project.

/cc @vdemeester @afrittoli @abayer @bobcatfish

[2021-07-15 17:09] bobcatfish commented on #464
👍  from me!

[2021-07-15 17:12] bobcatfish commented on #394
Definitely not stale since we've got https://github.com/tektoncd/experimental/tree/main/task-loops !

 /remove-lifecycle stale

Also I think since we've got the project now, it makes sense to consider this particular issue handled. Though I am still really really hoping we'll promote this to supported Pipeline syntax and not just an experimental task! 🤞

[2021-07-15 17:12] #394 closed

[2021-07-15 20:14] vdemeester commented on #464
👍🏼

[2021-07-15 21:17] dibyom commented on #464
Awesome! I'll go ahead with setting up the experimental folder!

[2021-07-26 19:31] #418 closed

[2021-08-19 02:25] mattmoor commented on #447
So I've been looking at Hermekton a bit, and it seems like there's a fundamental incompatibility with this because there isn't a way to blend 3 tasks (even sequential) that do: `fetch inputs (non-hermetic) -> run build (hermetic) -> publish outputs (non-hermetic)`.

It's possible that I'm misunderstanding the API or how a sequence of taskruns is translated into a single taskrun, but this feels lik

[2021-08-20 17:16] bobcatfish commented on #447
hey @mattmoor ! looking at [the hermekton docs](https://github.com/tektoncd/pipeline/blob/005c31e4fa5faba76ef36db1a64d40d605aa039f/docs/hermetic.md#hermetic-execution-mode) it looks like what we've currently got implemented doesnt (yet - im guessing this is to enable some initial experimentation?) measure up to what [TEP-0025 hermekton](https://github.com/tektoncd/community/blob/main/teps/0025-her

[2021-08-20 17:55] mattmoor commented on #447
It already does this, just with an annotation instead of a field.  IIRC the e2e tests for this annotate a TaskRun with an annotation whose value is `"hermetic"` on the TaskRun.

This seems awfully verbose, but yes you'd need to ability to specify things at a step level in order to continue to do this translation.  This expands to effectively everything currently specified at the TaskRun level, whi

[2021-09-09 14:08] afrittoli opened #515 "Guidance for features path from alpha to beta / stable"
### Feature request

TEPs allow us to design new features to be added to Tekton.
Those features will usually be introduced as alpha.

We should have general guidance for features to progress from alpha to beta and stable in terms of requirements and timeline.
We could have a section in the TEP for authors to think about any special requirement or timeline for their feature to be promoted to beta /

[2021-11-08 13:06] lbernick opened #555 "SSL certificate verification error when creating new TEP"
# Expected Behavior
I can create a new TEP PR with the teps.py tool.

# Actual Behavior
TEP creation fails with the following error:

[code]

# Steps to Reproduce the Problem

1. (Within virtualenv) `pip3 install -r ./teps/tools/requirements.txt`
2. ./teps/tools/teps.py new --title "Specifying Step Resource Requirements at Runtime" --author lbernick

[2021-11-08 14:31] lbernick commented on #555
This may be because my home wifi has weak security-- may be worth adding a note about this to the docs, although "you should be on a secure wifi network" feels fairly obvious.

[2021-11-23 12:12] triantium opened #565 "Proxy sends invalid Header"
# Expected Behavior

An Proxyrequest with an GET Method should not have a Content-Type Header

# Actual Behavior

An GET-request with the Header "Content-Type: '' "  is sent.

# Steps to Reproduce the Problem

1. Set external-logs-server
1. Call tekton-dashboard:9097/v1/logs-proxy/namespace/pod/container without any Headers
2. Request is forwarded to external logs-server with the Header "Content-T

[2021-11-23 12:50] AlanGreene commented on #565
Issue moved to [tektoncd/dashboard #2242](https://github.com/tektoncd/dashboard/issues/2242) via [**ZenHub**](https://www.zenhub.com/)

[2021-11-23 12:51] AlanGreene commented on #565
/close

[2021-11-23 12:51] #565 closed

[2021-12-14 02:53] #403 closed

[2021-12-14 03:54] #426 closed

[2021-12-14 07:58] #437 closed

[2022-01-05 17:59] xchapter7x opened #594 "TEP Workflow tracking via Github Issues"
### Feature request

__Given__ A tep-notifier custom task tracking PR events on the community repo (https://github.com/tektoncd/plumbing/pull/980)
__When__ a new TEP PR is created
__Then__ the task should automatically generate a Tracking issue in the community repo
    and reference the TEP PR in the comments
    and NOT hard link to the PR
    and contain the TEP id in the subject
    and have t

[2022-01-05 18:34] abayer commented on #594
Proposed workflow:

* A PR is opened to https://github.com/tektoncd/community to propose a new TEP.
  * The TEP automation bot/custom task extracts the TEP ID, title, and authors from the PR, and creates a tracking issue for the TEP in https://github.com/tektoncd/community, assigning it to the authors of the TEP, labeling it with `tep-status/new`, and including a link to the TEP PR.
* A PR to http

[2022-01-05 19:37] xchapter7x commented on #594
| Sub-Feature | Feature Description | Owner | PR Link(s) | Started? (:white_large_square: / :white_check_mark: ) | Done? (:white_large_square: / :white_check_mark: ) |
| --------------- | --------------- | --------------- | --- | --- | --- |
| A | <pr>A PR is opened to https://github.com/tektoncd/community to propose a new TEP. The TEP automation bot/custom task extracts the TEP ID, title, and aut

[2022-01-10 12:39] jerop opened #601 "TEP-0090: Matrix"
### TEP Description
- One-line TEP description: Execute a `PipelineTask` in parallel `TaskRuns` or `Runs` with substitutions from combinations of `Parameters` in a `Matrix`.
- TEP: https://github.com/tektoncd/community/blob/main/teps/0090-matrix.md
- Author(s): @jerop, @pritidesai
- Project(s): Pipeline
- Release Targets:
  - Alpha: v0.33.0
  - Beta: v0.36.0

### TEP References
- [ ] Alpha
  - [x]

[2022-01-10 12:41] jerop commented on #594
@xchapter7x @abayer this is a great idea! created an issue to track TEP-0090 before the automation is available: https://github.com/tektoncd/community/issues/601 (based on the KEP issues template)

[2022-01-11 19:06] lbernick opened #602 "TEP-0036: Start Measuring Tekton Pipelines Performance"
# TEP Description
One-line TEP description: Benchmark Tekton Pipelines Performance
TEP: https://github.com/tektoncd/community/blob/main/teps/0036-start-measuring-tekton-pipelines-performance.md
Author(s): @bobcatfish
Project(s): Pipeline
Release Targets:

# TEP References
- [ ] TEP pull request(s):
  - #277
- [ ] Implementation pull requests(s):

[2022-01-11 19:10] lbernick opened #603 "TEP-0073: Simplify Metrics"
# TEP Description
One-line TEP description: Simplify metrics to improve performance and user experience
TEP: https://github.com/tektoncd/community/blob/main/teps/0073-simplify-metrics.md
Author(s): @vdemeester @yaoxiaoqi @khrm
Project(s): Pipeline
Release Targets:

# TEP References
- [ ] TEP pull request(s):
  - #466
- [ ] Implementation pull requests(s):
  - tektoncd/pipeline#4201

[2022-01-13 18:44] pritidesai commented on #602
/assign

[2022-01-13 20:34] xchapter7x commented on #594
@abayer
what are your thoughts on a new feature here.
When the tracking issue gets created, the robot adds said issue to this project https://github.com/orgs/tektoncd/projects/5

[2022-01-14 15:06] abayer commented on #594
@xchapter7x Sounds good!

[2022-01-14 16:00] abayer commented on #594
Actually, I wonder if a new project would make more sense - the workflows for TEP PRs and tracking issues wouldn't quite be the same thing. I need to dig further into the projects API/functionality...

[2022-01-14 20:23] xchapter7x commented on #594
Agreed, the TEP PR (which is what is currently in the project linked above) is not the same as the Tracking Issue.
However, the project's intent is to track the state of a given TEP through its lifecycle. Which overlaps with the intent of the Tracking Issue. It might make sense moving forward, rather than tracking a closed PR, to track the tracking issues in the project.

thoughts?

[2022-01-17 19:32] #447 closed

[2022-01-25 15:15] khrm commented on #603
This was resolved by https://github.com/tektoncd/pipeline/pull/4201 pr

[2022-01-26 14:10] afrittoli commented on #435
/remove-lifecycle rotten

[2022-01-26 14:10] afrittoli commented on #435
/lifecycle frozen

[2022-01-26 14:11] afrittoli commented on #435
/reopen

[2022-01-26 14:30] afrittoli commented on #435
In order for this to address https://github.com/tektoncd/pipeline/issues/2944, I would l think we shall include support for Tekton cloudevents as well. Proposed next steps would then be:
- reach functional parity between the experimental controller and the inbuilt one
- support cdevents and tekton cloudevents through configuration
- move the controller into tektoncd/pipeline - add a flag (default

[2022-01-26 16:36] sbwsg opened #611 "Create new repo for tekton resolution"
### Feature request

Create a new repository for the Tekton Resolution project (from [TEP-0060: Remote Resource Resolution](https://github.com/tektoncd/community/blob/main/teps/0060-remote-resource-resolution.md))

Suggested repo location: https://github.com/tektoncd/resolution

Our [current requirements for creating a new repository](https://github.com/tektoncd/community/blob/main/process.md#prom

[2022-01-26 16:46] sbwsg commented on #611
Closing as fixed, thanks @dibyom !

https://github.com/tektoncd/resolution

[2022-01-26 16:52] dibyom commented on #611
Just logging the manual actions I took

1. Create tektoncd/resolution repo
2. Create two teams resolution.maintainers and resolution.collaborators. maintainers has write access while collaborators has read access to the repo (TODO: there is a "triage" access - maybe that makes more sense for collaborators?)
3. add @sbwsg to the maintainers team

[2022-01-26 17:00] dibyom commented on #611
Turns out manually creating teams doesn't work since our automation will delete it

[2022-01-27 20:40] lbernick commented on #603
Awesome, glad to hear it! @khrm @vdemeester @yaoxiaoqi would one of you be able to take on updating the TEP -> implemented with any details of the work done?

[2022-01-31 16:42] lbernick commented on #602
/label area/performance

[2022-02-01 16:54] dibyom opened #617 "New Format for Tekton WG meeting"
This is a tracking issue for changes to the Tekton WG meeting format as discussed on the mailing list: https://groups.google.com/g/tekton-dev/c/5kSTFAG9zEQ/m/SMMNmEsLCAAJ

We decided to shift to a demo focussed meeting once a month with a weekly project status email replacing the project updates section of the meeting

- [x] Cancel old meeting Invites
- [x] First new meeting date - Feb 9
- [x] Sen

[2022-02-01 16:55] dibyom opened #618 "Setup weekly project status emails"

[2022-02-03 13:53] afrittoli opened #622 "CI Job `pull-community-org-validation` fails when new teams are added"
# Expected Behavior

It is possible to create new teams via peribolos, configuring them in `org.yaml`

# Actual Behavior

When a new team is added, the CI job `pull-community-org-validation` fails, see for instance https://github.com/tektoncd/community/pull/612

It looks like in dry-run mode Peribolos returns a `0` as ID of the team that should be created (but is not created because of the dry-run

[2022-02-08 20:20] afrittoli opened #629 "Craft the scope and charter of the S3C Working Group"
@andrea will give it the first pass
@priti

[2022-02-08 21:24] lbernick commented on #602
Related: [Discussion: Why does pipeline sometimes execute quickly and sometimes slowly?](https://github.com/tektoncd/pipeline/discussions/4443)

[2022-02-09 10:30] afrittoli opened #630 "Setup a zoom meeting for the S3C WG"
Setup a ZOOM or something which doesn't require a specific company / org to do things in the meeting.

currently the GVC works, but a Googler needs to be present to allow non-googlers to enter (which is really lame)
It also requires a googler to record, i think... which is equally lame

Anyone have an account from the community we can use that provides equal access to all community members?

[2022-02-09 10:39] afrittoli commented on #630
I setup a Zoom meeting with the Tekton/CDF account.
The meeting is configured to:

- require sign in to join - i.e. a Zoom account is required - this is so we can stop bots from joining
- automatically recording to the cloud

@xchapter7x would you like to update the invite with this?

---

Tekton is inviting you to a scheduled Zoom meeting.

Topic: S3C WG Meeting
Time: Feb 22, 2022 05:00 PM London

[2022-02-09 14:36] lbernick commented on #630
Andrea, just curious, would GVC have the same problem if the meeting owner is a non-Google account (e.g. a gmail account)?

[2022-02-09 15:08] afrittoli commented on #630
It wouldn't, but if I recall correctly it would also not support recording

[2022-02-09 21:55] dibyom commented on #617
@afrittoli @vdemeester would you mind creating a calendar invite for the EU/Asia version of the meeting? (I don't want to do it since then a Googler will be required for the recording).
Starting Wednesday February 23, repeating every 4 weeks at 12:30PM UTC

[2022-02-15 07:17] khrm commented on #603
@lbernick I look into that issue. `webhook_request_latencies_bucket` metric is coming from knative/pkg. This won't be solved by this TEP.

[2022-02-15 23:57] bobcatfish commented on #630
@afrittoli @xchapter7x I've updated the calendar event with the zoom meeting details - also @afrittoli it looks like you should have edit permissions on the calendar as well but let me know if that's not the case!

[2022-02-17 13:17] PuneetPunamiya opened #636 "Exfiltrate `catlin` into its own repository"
### Feature request

As of now, `catlin` is growing as it's own CLI tool which can be used to manage/interact with tektoncd/catalog. In order to make it available for users there is a need to ship it as a tool which can be used.

## Exfiltrate `catlin` into its own repository

The idea is to move catlin to a separate repository, ie, moving it out of plumbing repository so that it can be managed ea

[2022-02-17 16:19] dibyom opened #637 "Governing Board Elections - February 2022"
**Dates**
    Feb 20 at midnight PST the nominations will close
    Feb 21 we will start the voting process via http://civs.cs.cornell.edu/
    Mar 1 we close the election

Election Officers:
* @dibyom
* @bobcatfish
* @vdemeester

[Nominations email
](https://groups.google.com/g/tekton-dev/c/kiKuPiCxeoU)

TODO:
- [x] [Find Eligible voters?](https://github.com/tektoncd/community/tree/main/election)

[2022-02-22 17:06] pritidesai commented on #629
S3C WG - hoping to start working on it this week before the next WG.

[2022-02-22 17:08] pritidesai commented on #630
S3C WG - we have the zoom setup and this can be closed. Thank you!

[2022-02-22 17:08] pritidesai commented on #630
/close

[2022-02-22 17:08] #630 closed

[2022-02-23 14:35] chmouel commented on #636
/lgtm

[2022-02-23 16:42] bobcatfish commented on #636
Sounds great to me!! 😸

[2022-03-02 18:02] #637 closed

[2022-03-08 14:37] afrittoli commented on #629
Draft : https://hackmd.io/-fXxObGpRsCGjNeajgz9eA

[2022-03-11 00:44] bobcatfish commented on #145
Yesterday @vdemeester demoed a way of having local Pipeline execution via build-kit! ([Agenda with notes and link to recording](https://docs.google.com/document/d/1h6dcP2VgQvr8yRZenKhLgK37v9hSDM8S8Ky24BI8WM8/edit#heading=h.mcl0vkw51xtq) - join [tekton-dev](https://github.com/tektoncd/community/blob/main/contact.md#mailing-list) for access)

🎉  🎉  🎉

[2022-03-15 16:29] vdemeester commented on #636
/assign
I will create the repository this week (tomorrow, wed 16th)

[2022-03-16 13:22] afrittoli opened #655 "[Nominations Open] Tekton Most Valuable Contributor Award 2022 🏆"
This issue is to receive nominations for the Tekton Most Valuable Contributor (MVC) Award 2022.

This award recognizes excellence of contributions to the Tekton project, which may be any or a combination of contributions to the project code, documentation, infrastructure as well as advocacy and fostering adoption.

To nominate someone, reply to this issue with the following:

Full name of the pers

[2022-03-16 18:40] pritidesai commented on #655
I would like to nominate Scott Seaward @sbwsg 🎉

@sbwsg has been the backbone of the community specially APIs. Scott has a great understanding of the entire code base and never hesitates to share his understanding. He is always ready to help other owners and any new contributors. He makes the entire contribution process an ease for the first time contributors. He has developed/delivered many impor

[2022-03-16 19:10] pritidesai commented on #655
I would like to nominate Vincent Deemester @vdemeester

@vdemeester has been the key player in the Pipeline designs, catalog, CLI, and many more. He shares his expertise of building the scalable systems and brings his experience of architecting OpenShift Pipelines in open. Vincent has helped all of us to understand and build the controller for common CI/CD use cases. Thank you Vincent for all the

[2022-03-17 08:53] vdemeester commented on #636
https://github.com/tektoncd/catlin is live. To close this issue, the following PR needs to be merged
- [ ] https://github.com/tektoncd/community/pull/656
- [ ] https://github.com/tektoncd/plumbing/pull/1022
- [ ] https://github.com/tektoncd/plumbing/pull/1023

[2022-03-22 16:34] bobcatfish commented on #629
From [discussion in s3c working group today](https://hackmd.io/gFcAZMFMRwuTaZ1i7Y3fSg?view#Notes):
- Would like the scope to have clear links to docs with more detail on what needs to be done (already has link to brainstorming doc, maybe also the [SLSA case study doc](https://docs.google.com/document/d/12yYP0M_zz5Tc9ftGnLwhDZ_tdZBq4mEod70ngWtHmLs/edit) - and/or the milestones (https://github.com/o

[2022-03-23 09:56] vdemeester commented on #459
/reopen

[2022-03-24 16:58] lbernick commented on #602
/help

[2022-04-04 17:58] abayer opened #668 "Please fork https://github.com/ahmetb/gen-crd-api-reference-docs into the tektoncd org"
We'd like to use https://github.com/ahmetb/gen-crd-api-reference-docs for generating API reference docs as part of https://github.com/tektoncd/pipeline/issues/1250, but need a change to that repo (https://github.com/ahmetb/gen-crd-api-reference-docs/pull/43) in order for the tool to work against the pipeline repo. https://github.com/tektoncd/pipeline/pull/4494 has demonstrated that this change wor

[2022-04-04 18:39] lbernick commented on #668
Just one thing to look into before doing this: the last release of gen-crd-api-reference-docs was 3 years ago, and the readme states:
[code]
it's possible this has changed by now-- we should double check that the k8s api reference docs generator doesn't meet our needs before forking.

[2022-04-04 18:50] abayer commented on #668
On that front, https://github.com/tektoncd/pipeline/issues/1461 and the problems getting the OpenAPI schema generator working with Pipeline are relevant...basically, our apis package is a bit weird compared to what "standard" k8s tooling expects, and things tend to barf as a result.

[2022-04-04 18:53] abayer commented on #668
Also, while it hasn't had a release in a long time, it is still seeing PRs get merged sporadically, and is used by a good number of projects.

[2022-04-04 21:01] vdemeester commented on #668
If it helps, even if it's temporary, I am ok for having a fork in the tektoncd org.

[2022-04-04 21:12] afrittoli commented on #668
ok for me

[2022-04-05 17:26] afrittoli commented on #668
@tektoncd/governing-board Anyone opposed to this or may we ahead with it?

[2022-04-06 01:20] vdemeester commented on #636
This is now done, we can close.

[2022-04-06 01:20] #636 closed

[2022-04-06 01:31] vdemeester commented on #145
To add to @bobcatfish's previous comment : it is called [`buildkit-tekton`](https://github.com/vdemeester/buildkit-tekton).

[2022-04-07 15:56] #555 closed

[2022-04-07 19:53] dibyom commented on #668
SGTM!

[2022-04-08 06:10] zestyroxy commented on #655
### Nomination: Priya Wadhwa @priyawadhwa
She writes great Tekton articles and gives good talks about it, too. I feel like I'm always seeing a Tekton logo with her face next to it on Twitter :) Thank you, Priya!

[2022-04-08 21:08] afrittoli commented on #655
+1

[2022-04-08 21:09] afrittoli commented on #655
`+1`

[2022-04-11 12:54] vdemeester opened #674 "Proposal : `buildkit-tekton` local executor project"
TL;DR: adoption of [`buildkit-tekton`](https://github.com/vdemeester/buildkit-tekton) in the `tektoncd` org.

The [`buildkit-tekton`](https://github.com/vdemeester/buildkit-tekton) propose an alternative implementation of the Tekton API, dedicate to local execution. It is currently composed of *two artifcats*:
- a [`buildkit`](https://github.com/moby/buildkit) frontend
- a `tkn-local` command to e

[2022-04-12 18:08] bobcatfish commented on #44
we're currently moving all of our recordings to zoom

[2022-04-13 04:42] vinamra28 opened #685 "Owning a new Resource in catalog requires that contributor to be part of org"
As of now whenever there is a contributor in catalog who wants to own a particular resource, they need to be a part of Tekton org first and then only their OWNERS file is validated. Here is the sample PR https://github.com/tektoncd/catalog/pull/967#issuecomment-1096455206 with such situation. This process basically violates the requirements laid down to be a part of [joining the org](https://githu

[2022-04-13 05:29] vdemeester commented on #685
This *cannot* really work very well. Prow and all automation are enforcing this (for being able to assign or put people as reviewers, …).

Definitely yes 👼🏼
Because it is *in the org*, I don't think that's we add people to the org for this. Long term, if/when the Hub allows to register external tekton resources, we could update this process and make sure Tasks in the catalog are maintained by an a

[2022-04-13 05:31] #44 closed

[2022-04-14 09:04] vinamra28 commented on #685
okay. Will create one to address this.

[2022-04-15 00:58] bobcatfish commented on #44
Thanks for making this happen @afrittoli !! 🎉  🎉  🎉

[2022-04-22 10:44] #459 closed

[2022-04-28 11:51] vdemeester commented on #655
@dibyom @afrittoli I will close this as we concluded the vote 👼🏼
@dibyom will sent a mail to tokten-dev/tekton-users this week
/close

[2022-04-28 11:51] #655 closed

[2022-05-03 05:10] vdemeester commented on #618
/lifecycle frozen

[2022-05-05 19:23] lbernick commented on #603
Closed by #639

[2022-05-05 19:23] #603 closed

[2022-05-30 15:21] vdemeester commented on #617
I think it's already done 🙃
cc @afrittoli @dibyom we probably can close

[2022-06-13 22:24] #594 closed

[2022-06-20 08:39] anikiej opened #733 "Using Tekton for CD - dealing with out of order execution"
I would like to ask for the recommended solution/best practices for handling the following scenario:

Our Tekton pipeline processes Github repo push events for Continuous Delivery. However, if there are multiple commits happening at once, `PiplineRun`s may finish out of order. Additionally, multiple commits happening at the same time can be collapsed into a single `PipelineRun` (as we only care ab

[2022-06-22 10:11] vdemeester commented on #601
/lifecycle frozen

[2022-06-30 21:02] #601 closed

[2022-07-03 14:17] #622 closed

[2022-07-04 14:37] vdemeester commented on #617
I'll go ahead and close that one. Feel free to comment if you think it shouldn't have been the case.

[2022-07-04 14:37] #617 closed

[2022-07-05 09:25] sm43 opened #750 "Installing Non Tekton Components through Tekton Operator"
Operator provides multiple CRDs like `TektonPipeline`, `TektonTrigger` which on creation installs and manages the lifecycle of that respective component.

Example:
`TektonPipeline` -> install and manages `tektoncd/pipeline` component

There is a Top level CRD TektonConfig which manages other CRDs depending on the profile. So, after operator installation if you create TektonConfig with`all` profile

[2022-07-05 09:29] sm43 commented on #750
cc @vdemeester @dibyom @afrittoli @abayer @lbernick @jerop

[2022-07-06 20:55] afrittoli commented on #668
@abayer what's the status of this?

[2022-07-12 15:13] lbernick commented on #668
Sounds like no objections to creating this fork, which would be the next step needed for generated API reference. I don't have permission-- I think it would need to be one of the org owners (@tektoncd/governing-board)

[2022-07-12 15:16] afrittoli commented on #668
https://github.com/tektoncd/ahmetb-gen-crd-api-reference-docs

[2022-07-13 20:50] dibyom commented on #750
It will be optional to install

Sounds good

Yeah, a tekton only release and a tekton+extensions release makes sense to me

Maybe we can nest that under an `extensions` or `platform` section. So we can `platforms.openshift`, `platforms.kubernetes`, (`platforms.some-other-platform` in the future?) What do you think?

this also sounds like a good idea.

Thanks @sm43 I like the proposal. Is the idea

[2022-07-14 14:49] sm43 commented on #750
@dibyom yep. this could also be a way, would be more clear to user. 👍🏽

the initial thought was to keep it in tektoncd/operator repository as it is dependent on Pipelines components so it makes development easy and release would also be a bit easier, otherwise for release there would be dependency on another repository.
we could keep them in a separate directory like `contrib` where we keep non-te

[2022-07-21 00:37] justinabrahms opened #760 "Does your tekton cat have a name?"
I got a tekton cat plushie from the open source summit this year. My daughter, now 3, has insisted that the cat's name is Jupo (pronounced joo-poe).

Just curious if your cat has a name already. If it doesn't, maybe it should? :)

[2022-07-25 18:17] dibyom commented on #750
Yeah either option sounds fine to me. I brought this up in the Community WG last week. Might be worth getting feedback from others in the Gov board as well (@afrittoli @vdemeester @jerop @priyawadhwa)

[2022-07-25 18:47] priyawadhwa commented on #750
+1, this sgtm!

[2022-07-26 15:21] vdemeester commented on #515
/cc @dibyom

[2022-07-26 15:44] afrittoli commented on #515
/remove-lifecycle rotten

[2022-07-26 17:05] dibyom commented on #515
/assign

[2022-07-26 17:12] dibyom commented on #515
We discussed this in the API WG on July 25. The plan is

- [ ] Update our policies/development guide/TEP process to mention that new features start out in the alpha track
- [ ]  Update our policies to mention that new feature authors should open an issue to track the feedback on that feature and promotion to beta once the feature lands in a release
- [ ]  Consider retroactively opening issues to t

[2022-08-03 10:56] Arhell opened #773 "REQUEST: New membership for arhell"
### GitHub Username

@arhell

### List of contributions to the tektoncd project

#### issue:
https://github.com/tektoncd/website/issues/created_by/Arhell
https://github.com/tektoncd/website/issues?q=is%3Aissue+author%3AArhell+is%3Aclosed

https://github.com/tektoncd/results/issues?q=is%3Aissue+author%3AArhell
https://github.com/tektoncd/results/pulls/Arhell

#### PRs:

https://github.com/tektoncd/

[2022-08-08 16:45] dibyom commented on #773
+1 happy to endorse. Please open a PR adding yourself to the org.yaml file https://github.com/tektoncd/community/blob/main/org/org.yaml

[2022-08-08 16:47] dibyom commented on #760
Hmmm, excellent question...Not sure if we do at the moment. I think adopting a name is a great idea :)

cc @vdemeester @afrittoli @priyawadhwa @jerop

[2022-08-11 13:28] #773 closed

[2022-08-11 16:32] #668 closed

[2022-08-11 20:08] dibyom commented on #733
You might be interested in #716

[2022-08-13 20:56] Arhell opened #781 "update links"
http=>https more security
/assign

[2022-08-18 16:41] #781 closed

[2022-08-19 18:35] #629 closed

[2022-08-25 09:07] vdemeester commented on #760
Indeed, having a name would help designating the robot cat 🙃. And I do like the "Jupo" suggestion, it's short and simple 👼🏼

[2022-08-25 11:30] onethefuture opened #797 "How does tekton dashboard do authentication and authorization?"
How does tekton do authentication and authorization? The effect it wants to achieve is to give everyone an account, and then everyone's account can only see pipelinerun and taskrun

[2022-08-29 15:27] AlanGreene commented on #797
This is described in the Dashboard install docs, see https://tekton.dev/docs/dashboard/install/#access-control for details

Auth is delegated to the Kubernetes API server so you have full access to the usual range of RBAC config and flexibility to use whichever reverse proxy you wish. An `Authorization` header containing a ServiceAccount token can be provided on requests to the Dashboard and it wi

[2022-08-31 08:39] afrittoli opened #800 "Have a defined governing body which consists of members from at least 2 different companies."
This requirement is [satisfied](https://github.com/tektoncd/community/blob/main/governance.md#current-members) - Tekton governance team consists of five members, and we have a principle of [maximum representation](https://github.com/tektoncd/community/blob/main/governance.md#maximum-representation), which means no single company may hold more than two seats at any time.

[2022-08-31 08:40] #800 closed

[2022-08-31 08:45] afrittoli opened #801 "Have a documented and publicly accessible description of the project's governance, decision-making, and release processes."
The project governance is [documented and publicly accessible](https://github.com/tektoncd/community/blob/main/governance.md).

The decision-making process of the governing board is [documented](https://github.com/tektoncd/community/blob/main/governance.md#governance-meetings-and-decision-making-process).

The community process to decide on new features, known as [Tekton Enhancement Proposal](http

[2022-08-31 08:57] afrittoli commented on #801
The documentation of release processes is tracked in the following issues:

- [ ] Document release processes for Pipeline
- [ ] Document release processes for Triggers
- [ ] Document release processes for CLI
- [ ] Document release processes for Dashboard
- [ ] Document release processes for Operator
- [ ] Document release processes for Chains
- [ ] Document release processes for Catalog

For each

[2022-08-31 09:15] afrittoli opened #802 "Have a healthy number of committers from at least two organizations. A committer is defined as someone with the commit bit; i.e., someone who can accept contributions to some or all of the project."
Tekton benefits of contributions from many different companies, 24 companies have 100+ contributions to the various Tekton projects. Details are available in [devstat](https://tekton.devstats.cd.foundation/d/5/companies-table?orgId=1)

[2022-08-31 09:15] #802 closed

[2022-08-31 09:16] afrittoli opened #803 "Explicitly define a project governance and committer process. This is preferably laid out in a GOVERNANCE.md file and references a CONTRIBUTING.md and OWNERS.md file showing the current and emeritus committers."
Tekton Governance processes are documented in the [Governance.md](https://github.com/tektoncd/community/blob/main/governance.md) file on the community repo.

Tekton project and contributor processes are documented in the [processes.md](https://github.com/tektoncd/community/blob/main/process.md#contributions) file in the community repo.

In addition to these, the configuration of the GitHub organis

[2022-08-31 09:28] #803 closed

[2022-08-31 09:49] afrittoli opened #804 "Have a public list of project adopters for at least the primary repo (e.g., ADOPTERS.md or logos on the project website)."
Tekton has a ["friends"](https://github.com/tektoncd/friends) repository were company may contribute how they are involved in Tekton. The repository includes 13 companies but it has not been updated for some time.
While the friends repo could be enough to satisfy the criteria, we will work on augmenting the friends repo with an `ADOPTERS.md` file.

The file which could be hosted either on `friends

[2022-08-31 09:56] afrittoli commented on #804
/cc @alhuizenga

[2022-08-31 11:02] afrittoli opened #805 "Have achieved and maintained an OpenSSF Best Practices Badge."
The Core Infrastructure Initiative Best Practices Badge has been now renamed [OpenSFF Best Practices Badge Program](https://bestpractices.coreinfrastructure.org/en).

The badge shall be achieved by the following Tekton projects:

- [x] OpenSFF Best Practices Badge Program for Pipeline [#5400](https://github.com/tektoncd/pipeline/issues/5400)
- [x] OpenSFF Best Practices Badge Program for Triggers

[2022-08-31 11:41] afrittoli opened #806 "Projects that have publicly documented release cycles and plans for Long Term Support ("LTS")."
Documented release cycles apply only to: pipeline, triggers, cli, dashboard, operator, chains.

Catalog is not included in this list as it does not have releases today and also a significant part of the catalog is not maintained by the Tekton maintainers directly. Individual tasks are versioned, and we document the minimum version of pipeline required to execute a specific version of a task.

The

[2022-08-31 11:43] afrittoli opened #807 "Decide and document about "end of life" for Tekton projects"
Tekton depends on Kubernetes and so we shall align to Kubernetes decision in terms of LTS.
A dedicated working group was formed in the past in the Kubernetes community to discuss LTS, and the final outcome was what is documented today on the top of [kubernetes release pages](https://kubernetes.io/releases/).

We should decide and document how many releases / time we support Tekton projects and doc

[2022-08-31 11:50] afrittoli opened #808 "Projects that have themselves become platforms for other projects."
Tekton is a tool to create CI/CD systems.

Several tools and platforms are built on top of Tekton.
Open source projects:

- [Jenkins X](https://jenkins-x.io/blog/2020/03/11/tekton/)
- [OpenShift Pipelines](https://docs.openshift.com/container-platform/4.8/cicd/pipelines/understanding-openshift-pipelines.html)
- [KubeFlow Pipelines on Tekton](https://github.com/kubeflow/kfp-tekton)

[2022-08-31 11:50] #808 closed

[2022-08-31 12:16] afrittoli opened #809 "Projects that are able to attract a healthy number of committers on the basis of its production usefulness (not simply 'developer popularity')."
Tekton is used in production by several vendors as well as end-users.
It is also used as a basis to platforms used in production by end-users.

One interesting example is "Project Trebuchet" at SolarWind, where the company rebuilt their entire build system on top of Tekton in the wake of the Sunburst Hack - see the [SupplyChainSecurityCon keynote from 2021](https://youtu.be/1-tMRxqMwTQ). SolarWind

[2022-08-31 12:19] afrittoli opened #810 "Project has undergone a security audit"
Tekton has undergone a security audit for the pipeline, triggers and dashboard components.
The full report is available at https://cd.foundation/blog/2022/08/26/tekton-security-review-completed/

[2022-08-31 12:19] #810 closed

[2022-08-31 12:21] afrittoli opened #811 "Projects that have several, high-profile or well known end-user implementations."
Tekton is used in production by several vendors as well as end-users.
It is also used as a basis to platforms used in production by end-users.

One interesting example is "Project Trebuchet" at SolarWind, where the company rebuilt their entire build system on top of Tekton in the wake of the Sunburst Hack - see the [SupplyChainSecurityCon keynote from 2021](https://youtu.be/1-tMRxqMwTQ). SolarWind

[2022-08-31 18:18] bendory opened #814 "Update roadmaps across all repos"
In the [August 30 Community & Governance Board meeting](https://docs.google.com/document/d/1g2HQk_4ypYEWPX2WjOFa6vOMpwYoRNprph_P09TS1UM/edit#heading=h.ypz255qjgdrk), we agreed to update our roadmap process by structuring our roadmaps into GitHub projects.

TODO:
- [x] Update Community documentation to explain the process
  - https://github.com/tektoncd/community/pull/813
- [x] Make a Roadmap proje

[2022-08-31 18:19] bendory commented on #814
/assign bendory

[2022-09-01 08:11] afrittoli commented on #808
Another example is [boomerang.io](https://www.useboomerang.io/docs/boomerang-flow/3.11.0/architecture/tasks)

[2022-09-11 10:38] #685 closed

[2022-09-27 12:04] afrittoli commented on #806
Community-widee LTS plans: https://github.com/tektoncd/community/pull/831

[2022-09-27 14:36] dibyom opened #835 "New org for tekton experiments?"
tektoncd/experimental can be hard to work with - this is the only monorepo style repo we have and it contains a bunch of inactive experiments. A failing test in one inactive project means we cannot merge a PR in another project (https://github.com/tektoncd/experimental/pull/896)

Most of our CI is optimized for single repo use cases not mono repos. One option is we create a `tektoncd-experimental`

[2022-09-27 14:37] afrittoli commented on #835
It sounds like a good idea. If you could prepare a detailed plan about what would be required, I'd be happy to help implementing it.

[2022-09-27 15:03] vdemeester commented on #835
@dibyom the idea is that this would *hold* experiments done from some tekton community members and could (or not) be promoted at some point right ? It sounds very similar to https://github.com/knative-sandbox/ I guess 🙃.

I do feel this is extra work that might not necessarily needed, aka compared to have the experiment in one repository or in a non-tekton organization, but I don't feel too strong

[2022-09-27 20:11] dibyom commented on #811
https://shipwright.io/ as well?

[2022-09-27 20:13] dibyom commented on #811
And https://github.com/kubeflow/kfp-tekton ?

[2022-09-29 09:27] afrittoli commented on #806
The Kubernetes community has written short code for releases on the website https://github.com/kubernetes/website/blob/main/layouts/shortcodes/release-data.html we could probably re-use something similar.

[2022-09-30 16:44] afrittoli commented on #801
Community-wide release policy is defined at https://github.com/tektoncd/community/blob/main/releases.md

[2022-09-30 16:45] afrittoli commented on #806
Community-wide processes are documented at https://github.com/tektoncd/community/blob/main/releases.md

[2022-09-30 16:46] afrittoli commented on #807
Addressed by https://github.com/tektoncd/community/blob/main/releases.md

[2022-09-30 16:46] #807 closed

[2022-10-02 20:57] afrittoli commented on #809
TensorWorks helped Tekton implement Windows support https://tensorworks.com.au/

[2022-10-03 20:40] afrittoli commented on #811
Shipwright and ktp-tekton are great for C8 - platform for other projects.
This is about end-users implementations.

[2022-10-05 14:08] afrittoli commented on #804
https://github.com/tektoncd/community/pull/843

[2022-10-05 14:12] #806 closed

[2022-10-05 14:13] #809 closed

[2022-10-05 14:14] afrittoli commented on #811
IBM is also a very large end-user of Tekton: IBM Provides a large scale Tekton-as-a-service offering to its development teams.

[2022-10-05 14:29] afrittoli commented on #811
I will add new end-users implementation as they become available.
SolarWind and IBM are considered enough to satisfy this requirement.

[2022-10-05 14:29] #811 closed

[2022-10-05 14:30] afrittoli opened #844 "Receive a 2/3 supermajority vote from the TOC to move to Graduated stage."
This issue is used to document the result of the TOC vote, once Tekton applies for graduation.

[2022-10-05 21:46] dibyom commented on #835
Yup! exactly!

You might be right though I do feel that working in experimental can be bit more challenging due to having to fit into the monorepo pattern. I'll try to scope out the things we need to do to get a new org running

[2022-10-05 22:14] dibyom commented on #835
As a first step, I picked up the tektoncd-experiments org

[2022-10-06 14:43] #804 closed

[2022-10-08 08:30] Tsingshen opened #851 "Installation image gcr.io/v2 cann't be access from China."
Do somebody make a global installation image hub without gcr.io, for it's not global access.
You can use docker.io or others, please consider it for China users. Thanks a lot.

[2022-10-12 11:12] afrittoli commented on #805
All badges are achieved

[2022-10-12 11:12] #805 closed

[2022-10-12 11:16] afrittoli commented on #844
Vote is taking place both in the [graduation proposal](https://github.com/cdfoundation/toc/pull/159) PR as well as on the [mailing list](https://lists.cd.foundation/g/cdf-toc/message/850).

Steps:

- [x] Finalize the proposal
- [x] Present the proposal to the CDF TOC
- [x] Confirm the scope for the proposal: https://github.com/cdfoundation/toc/issues/157
- [x] Start public vote (Oct 11), deadline

[2022-10-12 19:41] afrittoli commented on #801
All projects in scope now have a releases.md

[2022-10-12 19:41] #801 closed

[2022-10-18 08:56] afrittoli commented on #844
Received 100% of positive votes.

[2022-10-18 08:56] #844 closed

[2022-10-19 18:41] dibyom commented on #464
Status Update - we started a [Working Group](https://github.com/tektoncd/community/blob/main/working-groups.md#workflows) leading to a [proposed design](https://docs.google.com/document/d/1CaEti30nnq95jd-bD1Iep4mEnZ5qMEBHax0ixq-9xP0/edit?resourcekey=0-rbRAlTIqe9jnavyIQK_5lQ#) (join [mailing list](https://github.com/tektoncd/community/blob/main/contact.md#mailing-list) for access) and an ongoing ex

[2022-11-08 21:35] XinruZhang opened #873 "Propose to make some modifications on top of TEP-0002"
Creating to issue to open discussions around some modifications on [TEP-0002](https://github.com/tektoncd/community/blob/eaa7738f5289b5a71dc5c3bd6c3e739ad90ce7f1/teps/0002-custom-tasks.md#status-reporting):
- Explicitly mark the [status reporting (condition.type & condition.status)](https://github.com/tektoncd/community/blob/eaa7738f5289b5a71dc5c3bd6c3e739ad90ce7f1/teps/0002-custom-tasks.md#status

[2022-11-16 14:04] sm43 commented on #750
this has been implemented.
so now we have `OpenShiftPipelinesAsCode` CR which is only installed for openshift platform
it is not packaged with the kubenetes platform release, also not included in the build too.
we have a section in TektonConfig for `platforms` and openshift is included under it.
as this is completed closing the issue.

[2022-11-21 13:50] vdemeester opened #883 "Proposal: adoption of `pipelines-as-code`"
TL;DR: adoption of [`pipelines-as-code`](https://github.com/openshift-pipelines/pipelines-as-code/) in the `tektoncd` org (https://pipelinesascode.com/).

The [`pipelines-as-code`](https://github.com/openshift-pipelines/pipelines-as-code/) propose an opinionated CI based on OpenShift Pipelines / Tekton. Its goal is to let you define your [Tekton](https://tekton.dev/) templates inside your source c

[2022-11-21 13:57] vdemeester commented on #883
/kind feature
/cc @afrittoli @bobcatfish @lbernick @abayer @jerop @dibyom

[2022-11-21 19:58] lbernick commented on #883
I'm very excited about this as well! I created a [doc](https://docs.google.com/document/d/1JAnXFkvs4aeciAJEsl7454e0J3ZHbL1yCPncMBHlTtM) comparing our goals for workflows with pipelines as code (join tekton-dev google group to view + comment).

[2022-11-23 18:33] afrittoli commented on #515
/remove-lifecycle rotten

[2022-11-23 18:36] afrittoli commented on #515
/lifecycle frozen

[2022-11-29 19:49] #873 closed

[2022-11-30 15:41] bendory commented on #760
SGTM

Does this require official adoption by the governance board?

[2022-11-30 22:14] QuanZhang-William opened #889 "New Org for Tekton Verified Catalogs"
Today, we use a [centralized repo](https://github.com/tektoncd/catalog) to host all the Tekton catalogs.

In [TEP-0115](https://github.com/tektoncd/community/blob/main/teps/0115-tekton-catalog-git-based-versioning.md#proposal), we proposed to decentralize the current Tekton catalog repo to separate catalogs. Each catalog is a new repository and can be hosted in the owner's own GitHub organization.

[2022-11-30 22:25] dibyom commented on #889
Do Prow/Peribolos support multiple GH organizations from the same installation? If so, that might simplify the setup quite a bit